/*
----------------------------------------
USWDS with settings overrides
----------------------------------------
Uncomment the following lines and add a list of changed settings
in the form $setting: value,
----------------------------------------
*/

//
//  @use "uswds-core" with (
//    $setting: value,
//    $setting: value
//  );
//


@use "uswds-core" with (
  $theme-show-notifications: false,
  $theme-grid-container-max-width: "desktop-lg",
  $theme-banner-max-width: "desktop-lg",
  $theme-header-max-width: "desktop-lg",
  $theme-identifier-max-width: "desktop-lg",
  $theme-header-logo-text-width: 50%,
  $theme-color-primary: #4D53C5,
  $theme-color-primary-dark : #272A63,
  $theme-color-primary-darker: #272A63,
  $theme-color-secondary: #115D73,
  $theme-color-secondary-lighter: #D3F1FA,
  $theme-color-info-lighter: #22CAF8,
  $theme-color-accent-cool: #B8BAE8,
  $theme-breadcrumb-padding-top: 0px,
  $theme-font-type-sans: "public-sans",
  $theme-font-role-heading: "sans",
  $theme-font-role-body: "sans",
  $theme-font-weight-light: 300,
);