@forward "uswds-theme";
@forward "uswds";
@forward "uswds-theme-custom-styles";

.usa-logo img {
    height: 50px;
    margin-right: 10px;
    vertical-align: middle;
}
.usa-logo .usa-logo__text a span {
    vertical-align: middle;
}

.gridjs-wrapper, .gridjs-footer {
    border-radius: 0;
    box-shadow: none;
    border: 1px solid #f0f0f0;
}
.gridjs-pagination .gridjs-pages button:first-child,
.gridjs-pagination .gridjs-pages button:last-child {
    border-radius: 0;
}
th.gridjs-th {
    background: #f0f0f0;
}

#search-filters label::before {
    height: 1rem;
    width: 1rem;
}
#search-filters .usa-checkbox {
    position: relative;
}
#search-filters input:disabled+label {
    color: #a9aeb1;
}