---
layout: about
title: About the FPI
permalink: /about/fpi
---

<div class="grid-row">
  <section class="desktop:grid-col-4 padding-4">
    {% include components/_about-navigation.html current_page='about-fpi' %}
  </section>
  <section class="desktop:grid-col-8 padding-4">
    <h2 class="margin-top-0" id="overview">Overview: FPI mission</h2>
    <div class="usa-prose">
      <p>
        The mission of the Federal Program Inventory, or FPI for short, is to present on a single website &mdash; a
        coherent and comprehensive picture of all Federal programs and their associated program performance,
        spending, and improper payment rate information.
      </p>
      <p>
        By providing a comprehensive catalogue of Federal programs, the FPI enhances transparency and
        promotes efficiency and accountability as a tool that will enable comparisons of like programs, identify
        duplicative activities across multiple programs, and ensure programs align with mission areas and key
        Administration priorities.
      </p>
    </div>
    <h2 id="what-programs">What Federal programs are represented in the current FPI?</h2>
    <div class="usa-prose">
      <p>
        The current FPI captures over <span data-dollar-amount="{{ page.spending_total }}"></span>
        in Federal spending in Fiscal Year {{ page.fiscal_year }}. While Federal
        Assistance Listings account for most of the programs in the FPI, tax expenditures, public interest on the
        debt, as well as select acquisition programs are also now represented as of the Spring, 2026 release. See
        the <a href="/category">Explore Programs by Category</a> page for a more detailed breakdown of FPI expenditures by program
        type, and the <a href="/about/terms">FPI Data, Terms, and Concepts</a> page for how these program types are defined.
      </p>
    </div>
    <h2 id="what-data">What data is used for the FPI?</h2>
    <div class="usa-prose">
      <p>
        The FPI relies on publicly available, agency-provided data in three authoritative systems: SAM.gov,
        USASpending.gov, and PaymentAccuracy.gov. For more information on the data used in the FPI, see the
        <a href="/about/terms">FPI Data, Terms, and Concepts</a> page.
      </p>
    </div>
    <h2 id="mandate">FPI Mandate and Background</h2>
    <div class="usa-prose">
      <p>
        The Government Performance and Results Act Modernization Act of 2010 (GPRAMA), as amended by
        the William M. (Mac) Thornberry National Defense Authorization Act for Fiscal Year 2021 (NDAA),
        requires the Office of Management and Budget (OMB) to develop a single website that provides a
        &quot;coherent picture of all Federal programs, and the performance of the Federal Government as well as
        individual agencies.&quot; This picture - known as the Federal Program Inventory, FPI for short - allows
        policymakers and the public to review and analyze Federal spending that shares a common purpose
        within and across agencies. An appropriately constructed catalogue of Federal programs can:
      </p>
      <ul>
        <li>
          improve financial and program management through the establishment of stronger connections
          between spending and performance information,
        </li>
        <li>
          reduce reporting burden,
        </li>
        <li>
          curtail fraud, waste, and abuse by promoting accountability and enhanced transparency into
          programmatic information,
        </li>
        <li>
          ensure programs align with mission areas and key Administration priorities, and
        </li>
        <li>
          ensure Congress and OMB are better prepared to nimbly respond to emerging priorities.
        </li>
      </ul>
    </div>
    <h2 id="timeline">FPI Timeline and Evolution</h2>
    <div class="usa-accordion" id="about-accordion">
      <h4 class="usa-accordion__heading">
        <button
          type="button"
          class="usa-accordion__button"
          aria-expanded="true"
          aria-controls="a17"
        >
          Spring 2026
        </button>
      </h4>
      <div id="a17" class="usa-accordion__content usa-prose">
        <p>
          The Trump 47 Administration updated the FPI to include program performance, spending and improper
          payment information for the most recently completed fiscal year - FY 2026 - along with making several
          other key enhancements.
        </p>
        <p>
          First, Assistance Listing programs were revised within the FPI in order to ensure a one-to-one
          relationship between financial assistance programs identified for improper payment reporting and
          programs in the FPI. In most instances, this update required agencies to break out large, uniform
          Assistance Listing into more natural, standalone and unique Assistance Listing programs as well as
          consolidate multiple programs that otherwise would have been grouped together into one single
          Assistance Listing. This enhancement served to increase program alignment by ensuring a 1:1:1
          correspondence across Assistance Listing programs, the FPI, and PaymentAccuracy.gov reporting.
        </p>
        <p>
          Second, to enable comparisons of like programs within and across agencies, a more systematic
          framework was introduced for organizing Federal program spending and performance information.
          Several new Categories to the existing list previously on the website were added, while a taxonomy of
          government-wide objectives and program outcomes has been created to better articulate in a more
          standardized, cross-government way what programs aim to achieve for the American people. With this
          enhancement, each program in the FPI is mapped to the government-wide objective and program
          outcomes to which they are best aligned.
        </p>
        <p>
          Third, the types of programs represented in the FPI have been expanded beyond Federal Assistance
          Listings, tax expenditures, and interest on the public debt. With this enhancement, select acquisition
          programs (generally, a set of contracts that have been identified on USAspending.gov that helps the
          Federal government procure a product or service) are now captured in the FPI—adding over $123 billion
          in FY 2025 Federal spending not previously accounted for. This effort underscores OMB’s deliberate and
          iterative approach to achieve full implementation of the FPI and present a comprehensive picture of all
          Federal spending organized by program.
        </p>
        <p>
          Finally, a number of enhancements were made throughout the website with this update, from expanded
          spending and performance information for programs where data was available, such as the integration
          of improper payment rate reporting from <a href="https://paymentaccuracy.gov/" target="_blank">paymentaccuracy.gov</a>,
          to improvements designed to enhance a user’s experience throughout the site.
        </p>
      </div>
      <h4 class="usa-accordion__heading">
        <button
          type="button"
          class="usa-accordion__button"
          aria-expanded="false"
          aria-controls="a16"
        >
          January 2025
        </button>
      </h4>
      <div id="a16" class="usa-accordion__content usa-prose">
        <p>
          OMB updates the Federal Program Inventory to include tax expenditures, interest on the public debt,
          additional information for existing programs, and significantly improved search functionality.
        </p>
      </div>
      <h4 class="usa-accordion__heading">
        <button
          type="button"
          class="usa-accordion__button"
          aria-expanded="false"
          aria-controls="a15"
        >
          February 2024
        </button>
      </h4>
      <div id="a15" class="usa-accordion__content usa-prose">
        <p>
          OMB launches the Federal Program Inventory.
        </p>
      </div>
      <h4 class="usa-accordion__heading">
        <button
          type="button"
          class="usa-accordion__button"
          aria-expanded="false"
          aria-controls="a14"
        >
          Fall 2023
        </button>
      </h4>
      <div id="a14" class="usa-accordion__content usa-prose">
        <p>
          OMB begins developing an updated FPI, using assistance listings as the basis of the inventory.
        </p>
      </div>
      <h4 class="usa-accordion__heading">
        <button
          type="button"
          class="usa-accordion__button"
          aria-expanded="false"
          aria-controls="a13"
        >
          Summer 2023
        </button>
      </h4>
      <div id="a13" class="usa-accordion__content usa-prose">
        <p>
          OMB works with the General Services Administration to issue guidance to agencies requiring a review
          and update of all assistance listings.
        </p>
      </div>
      <h4 class="usa-accordion__heading">
        <button
          type="button"
          class="usa-accordion__button"
          aria-expanded="false"
          aria-controls="a12"
        >
          January 2023
        </button>
      </h4>
      <div id="a12" class="usa-accordion__content usa-prose">
        <p>
          GAO releases a summary of useful approaches to guide the creation of the FPI (GAO-23-106272).
        </p>
      </div>
      <h4 class="usa-accordion__heading">
        <button
          type="button"
          class="usa-accordion__button"
          aria-expanded="false"
          aria-controls="a11"
        >
          October 2021
        </button>
      </h4>
      <div id="a11" class="usa-accordion__content usa-prose">
        <p>
          OMB report to Congress lays out OMB&#39;s vision for the FPI and a plan to implement it.
        </p>
      </div>
      <h4 class="usa-accordion__heading">
        <button
          type="button"
          class="usa-accordion__button"
          aria-expanded="false"
          aria-controls="a10"
        >
          January 2021
        </button>
      </h4>
      <div id="a10" class="usa-accordion__content usa-prose">
        <p>
          OMB launches the 2020 exploratory pilot website and publishes the initial results from the pilot. A CSV
          file containing the data from the 2020 pilot can be downloaded here.
        </p>
        <p>
          William M. (Mac) Thornberry National Defense Authorization Act for Fiscal Year 2021 (NDAA) updates
          equirements for Federal Program Inventory.
        </p>
      </div>
      <h4 class="usa-accordion__heading">
        <button
          type="button"
          class="usa-accordion__button"
          aria-expanded="false"
          aria-controls="a9"
        >
          December 2020
        </button>
      </h4>
      <div id="a9" class="usa-accordion__content usa-prose">
        <p>
          OMB issues a memo to Federal agencies launching the FPI Exploratory Pilot as the next interim step to
          creating a comprehensive inventory. The pilot is designed to identify gaps in existing guidance and test
          an innovative approach to defining programs.
        </p>
      </div>
      <h4 class="usa-accordion__heading">
        <button
          type="button"
          class="usa-accordion__button"
          aria-expanded="false"
          aria-controls="a8"
        >
          Early 2020
        </button>
      </h4>
      <div id="a8" class="usa-accordion__content usa-prose">
        <p>
          As agency DATA Act reporting matures, OMB uses lessons learned from that implementation and the
          lessons learned from the initial GPRAMA FPI pilot to re-imagine ways to create the program inventory
          and identify advancing FPI efforts as a 2020 priority.
        </p>
      </div>
      <h4 class="usa-accordion__heading">
        <button
          type="button"
          class="usa-accordion__button"
          aria-expanded="false"
          aria-controls="a7"
        >
          2015 through 2019
        </button>
      </h4>
      <div id="a7" class="usa-accordion__content usa-prose">
        <p>
          OMB focuses agency efforts on implementing the DATA Act. This important work to improve data
          quality and build a more robust data information architecture are prerequisites to creating a coherent
          and comprehensive FPI.
        </p>
      </div>
      <h4 class="usa-accordion__heading">
        <button
          type="button"
          class="usa-accordion__button"
          aria-expanded="false"
          aria-controls="a6b"
        >
          September 2017
        </button>
      </h4>
      <div id="a6b" class="usa-accordion__content usa-prose">
        <p>
          GAO makes several recommendations to improve the 2013 FPI including using a more data-centric
          approach to provide a more coherent picture of all Federal programs and better ensure information is
          useful for decision-makers.
        </p>
      </div>
      <h4 class="usa-accordion__heading">
        <button
          type="button"
          class="usa-accordion__button"
          aria-expanded="false"
          aria-controls="a6"
        >
          October 2014
        </button>
      </h4>
      <div id="a6" class="usa-accordion__content usa-prose">
        <p>
          GAO makes several recommendations to improve the 2013 FPI including using a more data-centric
          approach to provide a more coherent picture of all Federal programs and better ensure information is
          useful for decision-makers.
        </p>
      </div>
      <h4 class="usa-accordion__heading">
        <button
          type="button"
          class="usa-accordion__button"
          aria-expanded="false"
          aria-controls="a5"
        >
          May 2014
        </button>
      </h4>
      <div id="a5" class="usa-accordion__content usa-prose">
        <p>
          The Digital Accountability and Transparency Act (DATA Act) is signed into law, directing OMB to establish
          government-wide data standards for certain financial data and improve the quality of the data reported
          on USASpending.gov. Meeting the DATA Act reporting requirements becomes the focal point for OMB in
          creating the FPI.
        </p>
      </div>
      <h4 class="usa-accordion__heading">
        <button
          type="button"
          class="usa-accordion__button"
          aria-expanded="false"
          aria-controls="a4"
        >
          May 2013
        </button>
      </h4>
      <div id="a4" class="usa-accordion__content usa-prose">
        <p>
          OMB publishes an initial FPI that includes more than 1,500 programs from 24 agencies. Because of the
          flexibility provided to agencies in how to define programs, it is difficult to use the inventory to make
          meaningful comparisons across programs.
        </p>
      </div>
      <h4 class="usa-accordion__heading">
        <button
          type="button"
          class="usa-accordion__button"
          aria-expanded="false"
          aria-controls="a3"
        >
          July 2012
        </button>
      </h4>
      <div id="a3" class="usa-accordion__content usa-prose">
        <p>
          OMB issues guidance based on lessons learned from the pilot to develop an initial FPI. The guidance
          recognizes that agencies and their stakeholders use the term &quot;program&quot; in different ways across widely
          varying missions and gives significant latitude to agencies in how they define programs.
        </p>
      </div>
      <h4 class="usa-accordion__heading">
        <button
          type="button"
          class="usa-accordion__button"
          aria-expanded="false"
          aria-controls="a2"
        >
          January 2012
        </button>
      </h4>
      <div id="a2" class="usa-accordion__content usa-prose">
        <p>
          OMB performs a pilot with 11 agencies as part of an iterative approach to implement the GPRAMA
          requirements.
        </p>
      </div>
      <h4 class="usa-accordion__heading">
        <button
          type="button"
          class="usa-accordion__button"
          aria-expanded="false"
          aria-controls="a1"
        >
          January 2011
        </button>
      </h4>
      <div id="a1" class="usa-accordion__content usa-prose">
        <p>
          The Government Performance and Results Modernization Act of 2010 (GPRAMA) is signed into law.
          GPRAMA directs the Office of Management and Budget (OMB) to ensure the effective operation of a
          single website that provides a &quot;coherent picture of all Federal programs, and the performance of the
          Federal Government as well as individual agencies.&quot; This coherent picture becomes known as a Federal
          Program Inventory (FPI).
        </p>
      </div>
    </div>
  </section>
</div>

{% include scripts/_dollar-standardization.html %}