---
layout: about
title: FPI Data, Terms & Concepts
permalink: /about/terms
---

<div class="grid-row">
  <section class="desktop:grid-col-4 padding-4">
    {% include components/_about-navigation.html current_page='about-terms' %}
  </section>
  <section class="desktop:grid-col-8 padding-4">
    <h2 class="margin-top-0" id="overview">Overview</h2>
    <div class="usa-prose">
      <p>
        This website leverages publicly accessible Assistance Listings (AL) data from SAM.gov and financial data from
        USAspending.gov, linked to Assistance Listings through the AL number, as well as tax expenditure and interest data from
        Treasury.gov and improper payment data from paymentaccuracy.gov. Agencies submit data for their programs directly to
        these sources.
      </p>
    </div>
    <h2 id="updates">Data Updates</h2>
    <div class="usa-prose">
      <p>
        Data used to build this website is <a href="/assets/files/all-program-data.csv" download>available for download</a>, and was last pulled on the following dates:
      </p>
      <ul>
        <li>SAM.gov assistance listings: {{ site.data.constants_global_dates.SAMGOV_ASSISTANCE_LISTINGS_DATE }}</li>
        <li>USAspending.gov transaction data: {{ site.data.constants_global_dates.USASPENDING_TRANSACTION_DATE }}</li>
        <li>Treasury.gov tax expenditures: {{ site.data.constants_global_dates.TREASURYGOV_TAX_EXPEND_DATE }}</li>
        <li>PaymentAccuracy.gov improper payment data: September 30, {{ site.data.constants_global_dates.PAYMENTACCURACY_FY_DATE }}</li>
      </ul>
      <p>
        OMB also drew from other publicly available Federal Government websites to gather select program-related
        information reflected on this site’s most recent 2026 update.
      </p>
      <p>
        See <a href="https://www.usaspending.gov/data/about-the-data-download.pdf" target="_blank">USAspending’s “About the Data” resource</a> for a detailed explanation of the financial data.
      </p>
      <p>
        To reduce duplicative reporting burden, the FPI has been designed to pull from other publicly available
        sources to populate the information and data being displayed. Users are encouraged to go to the
        applicable data source to learn more about their data sets and reporting processes to understand why
        certain data is presented on the FPI website in the way it appears.
      </p>
    </div>
    <h2 id="download-table">Data Download Table</h2>
    <p>
      The following datasets are available for download to reconstruct the information presented
      on the FPI website.
    </p>

    <div id="about-download-table-container">
      <table class="usa-table usa-table--stacked">
        <thead>
          <tr>
            <th scope="col">Dataset</th>
            <th scope="col">Update Year</th>
            <th scope="col">Description</th>
          </tr>
        </thead>
        <tbody class="text-base-dark">
          <tr>
            <td data-label="Dataset"><a href="/assets/files/fpi_unified_table.zip" download="fpi_unified_table.zip">FPI Unified Table</a></td>
            <td data-label="Update Year">{{ site.data.constants_global_dates.CURRENT_FISCAL_YEAR }}</td>
            <td data-label="Description">
              <p>This dataset includes all federal assistance listings reported SAM.gov, select acquisition programs and interest on the public debt
              from USAspending.gov, and tax expenditures from Treasury.gov.</p>

              <p>For federal assistance listings, the values for current year obligations are SAM.gov estimates. The values for all outlays and
              historical obligations are pulled from USAspending.gov. For acquisition programs, the values for obligations and outlays are
              pulled from USAspending.gov. For interest on the public debt, the values for outlays are pulled from USAspending.gov. For tax
              expenditures, outlays and revenue losses are pulled from Treasury.gov.</p>

              <p>Likewise, each program is mapped to a Government-wide Objective (GWO).</p>

              <p>Fields include Program ID, Program Name, Popular Name, Program Description, Program Type, Top Agency Name, Subagency
              Name, GWO ID, GWO Name, Fiscal Year, Outlay, Obligation, Expenditure, Forgone Revenue, SAM Estimated Obligation, and
              USAspending Obligation. By default, Excel will ask to convert large values in the CSV into scientific notation.
              Allow for the conversions to capture the accurate values.</p>
            </td>
          </tr>
          <tr>
            <td data-label="Dataset"><a href="/assets/files/program_to_pon.csv" download="program_to_pon.csv">FPI PON Assignment</a></td>
            <td data-label="Update Year">{{ site.data.constants_global_dates.CURRENT_FISCAL_YEAR }}</td>
            <td data-label="Description">
              <p>This dataset includes the program outcome (PON) assignment of each program in the FPI. A program may be assigned up to three
              program outcomes. Users may join this table with the FPI Unified Table using the Program ID field.</p>

              <p>Fields include Program ID and PON ID.</p>
            </td>
          </tr>
          <tr>
            <td data-label="Dataset"><a href="/assets/files/gwo.csv" download="gwo.csv">GWO Taxonomy</a></td>
            <td data-label="Update Year">{{ site.data.constants_global_dates.CURRENT_FISCAL_YEAR }}</td>
            <td data-label="Description">
              <p>This table includes the {{ page.gwo_count }} Government-wide Objectives (GWOs) that make up the <a href="/about/taxonomy">FPI Taxonomy</a>.
              Some GWOs may have zero program assignment.</p>

              <p>Fields include Category, Category Code, Sub-Category, Sub Category Code, GWO ID, Govt-wide Objective (GWO), and GWO
              Definition.</p>
            </td>
          </tr>
          <tr>
            <td data-label="Dataset"><a href="/assets/files/pon.csv" download="pon.csv">PON Taxonomy</a></td>
            <td data-label="Update Year">{{ site.data.constants_global_dates.CURRENT_FISCAL_YEAR }}</td>
            <td data-label="Description">
              <p>This table includes the {{ page.pon_count }} Program Outcomes (PONs) that make up the FPI Taxonomy. Some PONs may have
              zero program assignment.</p>

              <p>Fields include Category, Category Code, Sub-Category, Sub Category Code, PON ID, Program Outcome (PON), and PON
              Definition.</p>
            </td>
          </tr>
          <tr>
            <td data-label="Dataset"><a href="https://paymentaccuracy.gov" target="_blank">Payment Accuracy</a></td>
            <td data-label="Update Year">{{ site.data.constants_global_dates.PAYMENTACCURACY_FY_DATE }}</td>
            <td data-label="Description">
              <p>The dataset for improper payment and unknown payment rate is available on Paymentacurracy.gov.</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>


    <h2 id="explanation">Explanation of Terms and Concepts</h2>
    <div class="key-term padding-2 margin-top-2">
      <h3>Assistance Listing</h3>
      <div class="usa-prose">
        <p>
          Assistance listings are detailed public descriptions of Federal programs that provide Federal financial
          assistance such as grants, loans, scholarships, insurance, and other types of assistance awards. Every
          assistance award must be aligned to an assistance listing, and every assistance listing must be
          authorized by congressional statute. 2 CFR 200.203 identifies the Federal Assistance Listings (ALs) as
          program information produced by the executive branch of the Federal Government.”
        </p>
        <p>
          Assistance Listings are created and maintained by the administering agency on SAM.gov and must be
          updated annually. As a program type, ALs are the core of the FPI.
        </p>
        <p>
          Data source: SAM.gov
        </p>
      </div>
    </div>
    <div class="key-term padding-2 margin-top-2">
      <h3>Assistance Type</h3>
      <div class="usa-prose">
        <p>
          Agencies identify the form in which the Federal government provides assistance to the award recipient,
          including contracts, grants, loans, insurance, and direct payment. An assistance listing may provide
          different types of assistance.
        </p>
        <p>
          Data source: SAM.gov
        </p>
      </div>
    </div>

    <div class="key-term padding-2 margin-top-2">
      <h3>Category (Sub-Category)</h3>
      <div class="usa-prose">
        <p>
          Programs in the FPI are organized into over 20 Categories. These Categories organize Federal programs
          into topics based on their major purpose, thematically capturing the core missions and policy areas
          across the Federal government (e.g., National Defense, Health, Transportation).
        </p>
        <p>
          These are further broken down into program Sub-Categories, focus areas that provide for more specific
          groupings within each of the broader mission areas represented by the Categories.
        </p>
      </div>
    </div>

    <div class="key-term padding-2 margin-top-2">
      <h3>Eligible Applicant Type</h3>
      <div class="usa-prose">
        <p>
          Agencies identify entities that are eligible to apply for each program when creating the assistance listing.
          The main purpose of this is to inform potential applicants of the programs for which they can apply.
          Information on award recipients can be found at USAspending.gov.
        </p>
        <p>
          Additional specifics about eligible applicants for each program can be found on the program’s assistance
          listing on SAM.gov.
        </p>
        <p>
          Data source: SAM.gov
        </p>
      </div>
    </div>

    <div class="key-term padding-2 margin-top-2">
      <h3>Eligible Beneficiary</h3>
      <div class="usa-prose">
        <p>
          Agencies specify who may receive the ultimate benefits from the program. Programs that provide direct
          assistance from a Federal agency will generally have the same applicant and beneficiary. In cases where
          assistance is provided through State and local governments, the applicants and beneficiaries may be
          different since the assistance is transmitted to private sector beneficiaries who do not have to request
          or apply for the benefits.
        </p>
        <p>
          Additional specifics about eligible beneficiaries for each program can be found on the program’s
          assistance listing on SAM.gov.
        </p>
        <p>
          Data source: SAM.gov
        </p>
      </div>
    </div>

    <div class="key-term padding-2 margin-top-2">
      <h3>FPI Taxonomy</h3>
      <div class="usa-prose">
        <p>
          The FPI Taxonomy is a classification system designed to provide a more systematic framework for
          logically organizing Federal programs and the information associated with those programs. Components
          of the classification system include Categories, Sub-Categories, Government-wide Objectives, and
          Program Outcomes. The taxonomy makes it easier to find programs that contribute to common, shared
          Objectives and Outcomes while improving public understanding about what Federal programs currently
          operate, and how programs link to budget, performance, and other information. These linkages also
          provide important context for agency activities. Each program in the FPI is mapped to a Government-wide
          Objective, and up to three Program Outcome(s) to which they are best aligned.
        </p>
      </div>
    </div>

    <div class="key-term padding-2 margin-top-2">
      <h3>Government-wide Objective</h3>
      <div class="usa-prose">
        <p>
          Government-wide Objectives are a component of the FPI taxonomy’s classification system and
          represent a standardized, consistent set of goals that cut across agencies and programs that the Federal
          government aims to achieve. Each program in the FPI is mapped to one Government-wide Objective to
          which it is best aligned.
        </p>
      </div>
    </div>

    <div class="key-term padding-2 margin-top-2">
      <h3>Improper Payment</h3>
      <div class="usa-prose">
        <p>
          A payment that was made in an incorrect amount under statutory, contractual, administrative, or other
          legally applicable requirements. The term improper payment includes; any payment to an ineligible
          recipient; any payment for an ineligible good or service; any duplicate payment; any payment for a good
          or service not received, except for those payments where authorized by law; and any payment that does
          not authorized by law; and any payment that does not account for credit for applicable discounts.
        </p>
        <p>
          Data source: Paymentaccuracy.gov
        </p>
      </div>
    </div>

    <div class="key-term padding-2 margin-top-2">
      <h3>Improper Payment and Unknown Payment Rate</h3>
      <div class="usa-prose">
        <p>
          The degree of Improper Payments and Unknown Payments measured against the outlays.
        </p>
        <p>
          Data source: Paymentaccuracy.gov
        </p>
      </div>
    </div>

    <div class="key-term padding-2 margin-top-2">
      <h3>Obligation</h3>
      <div class="usa-prose">
        <p>
          Obligation means a binding agreement that will result in outlays, immediately or in the future. When
          awarding funding, the U.S. government enters a binding agreement called an obligation—which is
          essentially a promise to spend the money, either immediately or in the future. An agency incurs an
          obligation, for example, when it places an order, signs a contract, awards a grant, purchases a service, or
          takes other actions that require it to make a payment. Additional detail is provided in OMB Circular A-11.
        </p>
        <p>
          Obligation information sourced from SAM.gov is provided by the administering agency for each
          assistance listing via the table below.
        </p>
        <div id="about-obligation-table-container">
          <table class="usa-table" id="obligations-terms-table">
            <tbody class="text-base-dark">
              <tr>
                <td></td>
                <td></td>
                <th scope="colgroup" colspan="4">
                  <span class="text-bold">Obligation Value</span><br />
                  Enter whole dollar amount.
                </th>
              </tr>
              <tr>
                <th scope="col"><span class="text-bold">Assistance Type / Salaries and Expenses</span></th>
                <th scope="col"><span class="text-bold">This is a Recovery and Reinvestment Act Obligation</span></th>
                <th scope="col"><span class="usa-sr-only">Reason selection column</span></th>
                <th scope="col"><span class="text-bold">Past Fiscal Year (20YY) Actual</span></th>
                <th scope="col"><span class="text-bold">Current Fiscal Year (20YY) Estimate</span></th>
                <th scope="col"><span class="text-bold">Budget Fiscal Year (20YY) Estimate</span></th>
              </tr>
              <tr>
                <td rowspan="2"></td>
                <td rowspan="2">Y or N</td>
                <td></td>
                <td>$</td>
                <td>$</td>
                <td>$</td>
              </tr>
              <tr>
                <td><span class="text-bold">If obligation value cannot be entered, choose a reason</span></td>
                <td>
                  <ol>
                    <li>Not separately identifiable</li>
                    <li>Not available (must be updated by the end of the year)</li>
                  </ol>
                </td>
                <td>
                  <ol>
                    <li>Not separately identifiable</li>
                    <li>Not available (must be updated by the end of the year)</li>
                  </ol>
                </td>
                <td>
                  <ol>
                    <li>Not separately identifiable</li>
                    <li>Not available (must be updated by the end of the year)</li>
                  </ol>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <p>
          Each year, agencies report actual obligations for the past fiscal year and estimated obligations for the
          current and budget fiscal years. Likewise, in accordance with 2014 DATA Act, agencies are required to
          report obligation information on a quarterly and/or monthly basis on USAspending.gov. Program
          obligations from USAspending.gov are calculated by taking the total of obligations aligned to the
          assistance listing at the transaction level for the fiscal year.
        </p>
        <p>
          Note that the obligation values reported on SAM.gov may not match what is reported on
          USAspending.gov. Below is a non-exhaustive set of explanations that may explain differences between
          these data sources:
        </p>
        <ol>
          <li>
            Due to the timing of reporting in the two systems, data from one system may be more up-to-date than the other.
          </li>
          <li>
            USAspending.gov total obligations include all transactions that occur within a fiscal year,
            including de-obligations for awards made in prior fiscal years. SAM.gov data may or may not
            include these de-obligations.
          </li>
          <li>
            There are different ways to account for obligations made through loans or insurance. Agencies
            were not instructed on how to account for these obligations on SAM.gov, and may have chosen
            a different method than what is reported on USAspending.gov.
          </li>
        </ol>
        <p>
          For the purposes of this inventory, the website displays estimated obligations from SAM.gov for the most
          current fiscal year and the obligation values from USAspending.gov for all preceding years to
          arrive at the most accurate picture of the spending level for a given program.
        </p>
        <p>Data sources: SAM.gov and USAspending.gov</p>
      </div>
    </div>

    <div class="key-term padding-2 margin-top-2">
      <h3>Outlay</h3>
      <div class="usa-prose">
        <p>
          Outlay means a payment to liquidate an obligation (other than the repayment of debt principal or other
          disbursements that are &quot;means of financing&quot; transactions). Means of financing refers to borrowing,
          debt repayment, the change in cash balances, and certain other transactions that are involved in financing a
          deficit or using a surplus. By definition, the means of financing are not treated as receipts or outlays and
          so are non-budgetary. Outlays generally are equal to cash disbursements but also are recorded for
          cash-equivalent transactions, such as the issuance of debentures to pay insurance claims,
          and in a few cases are recorded on an accrual basis such as interest
          on public issues of the public debt. In short, outlays are the measure of Government spending that has
          occurred (not just promised), and generally, will lag behind obligations as a matter of order of operations.
        </p>
        <p>
          For the purposes of this inventory, the website displays outlay information from USAspending.gov.
        </p>
        <p>
          Data source: USAspending.gov
        </p>
      </div>
    </div>

    <div class="key-term padding-2 margin-top-2">
      <h3>Program</h3>
      <div class="usa-prose">
        <p>
          For the purposes of this inventory, a program is an individual assistance listing as submitted by agencies
          to SAM.gov, an individual tax expenditure as described by Treasury, or the sum of interest on the public
          debt. With the 2026 update, select acquisition programs are also now represented.
        </p>
        <ul>
          <li>
            <strong>Federal Assistance Listings.</strong> Assistance listings are detailed public descriptions of Federal
            programs that provide Federal financial assistance such as grants, loans, scholarships, insurance,
            and other types of assistance awards.
          </li>
          <li>
            <strong>Tax Expenditures.</strong> Tax expenditures are defined by law as “revenue losses attributable to
            provisions of the Federal tax laws which allow a special exclusion, exemption, or deduction from
            gross income or which provide a special credit, a preferential rate of tax, or a deferral of tax
            liability.” Revenue losses are forgone revenue, i.e. money that never entered the Treasury.
            These exceptions may be viewed as alternatives to other policy instruments, such as
            spending or regulatory programs. For tax expenditure programs, amounts shown are the sum of
            revenue losses and outlays. For purposes of comparison to budget data, amounts will not align
            as budget data maintains a strict separation between reductions in revenue, which are acknowledged on the receipt
            side of the budget, and are never combined with outlays. In addition, tax
            expenditures are not simply additive due to the interaction effects of multiple provisions.
            Learn more at <a href="https://home.treasury.gov/policy-issues/tax-policy/tax-expenditures" target="_blank">Treasury.gov</a>.
          </li>
          <li>
            <strong>Interest on the Public Debt.</strong> Interest expenses the government pays on its outstanding loans.
            Also referred to as the cost to the U.S. for borrowing <a href="https://fiscaldata.treasury.gov/interest-expense-avg-interest-rates/" target="_blank">money</a>.
          </li>
          <li>
            <strong>Acquisition Programs.</strong> Procurement of products or services in the form of a contract or a set of
            contracts. For example, when the Department of War utilizes a set of contracts to buy a weapon
            system, that procurement is considered an acquisition program. Amounts shown are the sum of
            obligations and the sum of outlays from a set of contracts in a given year, based on transaction
            action data on USAspending.gov. Because contract data is drawn directly from USAspending.gov
            and its rolling reporting cadence, current year amounts will lag behind preceding years. The
            obligation of the immediately preceding year will represent the most accurate funding level of
            the acquisition program.
          </li>
        </ul>
        <p>
          Data sources: SAM.gov, USAspending.gov, Treasury.gov
        </p>
      </div>
    </div>

    <div class="key-term padding-2 margin-top-2">
      <h3>Program Outcome</h3>
      <div class="usa-prose">
        <p>
          Program Outcomes are a component of the FPI taxonomy that help show how government spending
          translates, or links, the program’s purpose and objectives into measurable results being delivered.
          Because many programs are authorized and designed to deliver results that transcend more than one
          outcome, programs in the FPI can be mapped to between one and three Program Outcomes to which
          they are best aligned.
        </p>
      </div>
    </div>

    <div class="key-term padding-2 margin-top-2">
      <h3>Unknown Payment</h3>
      <div class="usa-prose">
        <p>
          A payment that could be either proper or improper, but the agency is unable to discern whether the
          payment was proper or improper as a result of insufficient or lack of documentation.
        </p>
        <p>
          Data source: Paymentaccuracy.gov
        </p>
      </div>
    </div>
  </section>
</div>