---
layout: default
header_title: Explore programs by category
footer_include: _footer-category.html
---

<section
  class="bg-primary-darker padding-x-2 padding-y-3"
  style="
    background-image: url('../../assets/img/banner.png'),
      linear-gradient(0deg, #272a63, #272a63);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: contain;
  "
>
  <div class="grid-container">
    <div class="grid-row">
      <div class="grid-col-12">
        <h1
          class="usa-display usa-heading text-white font-heading-2xl text-light"
        >
          {{ layout.header_title }}
        </h1>
      </div>
    </div>
  </div>
</section>

<div class="grid-container">
  <div class="grid-row grid-gap">
    <nav class="usa-breadcrumb padding-top-1" aria-label="Breadcrumbs,,">
      <ol class="usa-breadcrumb__list">
        <li class="usa-breadcrumb__list-item">
          <a href="/" class="usa-breadcrumb__link"><span>Home</span></a>
        </li>
        <li class="usa-breadcrumb__list-item">
          <a href="/category" class="usa-breadcrumb__link"
            ><span>Explore programs by category</span></a
          >
        </li>
        <li class="usa-breadcrumb__list-item usa-current" aria-current="page">
          <span>{{ page.title }}</span>
        </li>
      </ol>
    </nav>
  </div>
  <div class="grid-row grid-gap padding-top-1">
    <div class="width-full text-primary font-sans-xl line-height-sans-2">
      {{ page.title }}
    </div>
    <div class="grid-col-8 line-height-sans-3 padding-top-1">
      Programs (assistance listings), their functions (categories), and
      sub-functions (sub-categories) listed on this page use data pulled from
      SAM.gov and [other].
      <br />
      <br />
      Select from the dropdown below to view a category. Once you’ve selected a
      category, you can select a sub-category under it.
    </div>
  </div>

  <div class="display-flex flex-wrap flex-align-end">
    <div class="margin-right-205 margin-bottom-2">
      <label class="usa-label" for="category"
        >Select category
        <span class="usa-label--required">(Required)</span></label
      >
      <select class="usa-select width-mobile" name="category" id="category">
        <option value>All categories</option>
      </select>
    </div>
    <div class="margin-right-205 margin-bottom-2">
      <label class="usa-label" for="subcategory">Select sub-category</label>
      <select
        class="usa-select width-mobile"
        name="subcategory"
        id="subcategory"
      >
        <option value>-Select-</option>
      </select>
    </div>
    <button id="category-button" class="usa-button bg-primary margin-bottom-2 padding-x-3">
      Update category
    </button>
  </div>

  <div class="border-1px border-ink radius-md margin-bottom-5">
    <div class="margin-205">
      <h3 class="text-primary font-heading-lg text-bold line-height-heading-3">
        {{ page.title }} obligations
      </h3>

      <p class="text-ink font-sans-sm line-height-body-3">
        The numbers below show
        <span class="text-bold">Programs</span> (individual Assistance
        Listings), actual Obligations, and their sub-functions (sub-categories),
        all as submitted by agencies to
        <a
          href="https://sam.gov"
          class="usa-link usa-link--external"
          target="_blank"
          rel="noopener noreferrer"
          >SAM.gov</a
        >.
      </p>
      <div class="display-flex margin-bottom-2">
        <div class="padding-right-5 display-flex flex-column">
          <div class="text-primary font-sans-3xl text-bold">
            {{ page.total_num_programs }}
          </div>
          <div class="font-heading-lg line-height-heading-5">programs</div>
        </div>
        <div class="padding-right-5 display-flex flex-column">
          <div id="obligations-total" class="text-primary font-sans-3xl text-bold">
          </div>
          <div class="font-heading-lg line-height-heading-5">
            in FY {{ page.fiscal_year }} obligations
          </div>
        </div>
        <div class="display-flex flex-column">
          <div class="text-primary font-sans-3xl text-bold">
            {{ page.total_num_sub_cats }}
          </div>
          <div class="font-heading-lg line-height-heading-5">
            sub-categories
          </div>
        </div>
      </div>

      <div
        class="border-bottom-1px border-black width-full margin-bottom-3"
      ></div>

      <div
        class="display-flex flex-justify-start flex-align-center grid-row grid-gap-3"
      >
        <div class="font-heading-lg line-height-heading-2">
          View top FY {{ page.fiscal_year }} for:
        </div>

        <div class="usa-radio display-flex flex-align-center">
          <input
            class="usa-radio__input"
            id="subCategory"
            type="radio"
            name="view-options"
            checked
          />
          <label
            class="usa-radio__label font-sans-sm line-height-body-3 margin-top-0"
            for="subCategory"
            >Sub-category</label
          >
        </div>

        <div class="usa-radio display-flex flex-align-center">
          <input
            class="usa-radio__input"
            id="agency"
            type="radio"
            name="view-options"
          />
          <label
            class="usa-radio__label font-sans-sm line-height-body-3 margin-top-0"
            for="agency"
            >Agency</label
          >
        </div>

        <div class="usa-radio display-flex flex-align-center">
          <input
            class="usa-radio__input"
            id="eligible-applicant"
            type="radio"
            name="view-options"
          />
          <label
            class="usa-radio__label font-sans-sm line-height-body-3 margin-top-0"
            for="eligible-applicant"
            >Eligible applicant type</label
          >
        </div>
      </div>

      <svg id="myChart" class="width-full" height="500" aria-label="Chart displaying data based on selection" role="img"></svg>

      <!-- Three tables, hidden/shown dynamically -->
      <div id="table-container">
        <div id="table-title" class="text-bold font-sans-lg text-primary">
          <!-- The title will be dynamically updated here -->
        </div>
        <table class="usa-table width-full margin-bottom-0" id="sub-categories-table">
          <thead>
            <tr>
              <th
                data-sortable
                data-column="title"
                scope="col"
                class="width-mobile-lg"
              >
                <span class="header-text">Sub-category</span>
              </th>
              <th
                data-sortable
                data-column="total_num_programs"
                scope="col"
                class="width-mobile"
              >
                <span class="header-text">Number of Programs</span>
              </th>
              <th data-sortable data-column="total_obs" scope="col">
                <span class="header-text"
                  >Obligations (FY {{ page.fiscal_year }})</span
                >
              </th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
        <div
          class="usa-sr-only"
          aria-live="polite"
          id="sub-categories-table-status"
        ></div>

        <table
          class="usa-table width-full margin-bottom-0"
          id="agencies-table"
          style="display: none"
        >
          <thead>
            <tr>
              <th
                data-sortable
                data-column="title"
                scope="col"
                class="width-mobile-lg"
              >
                <span class="header-text">Agency</span>
              </th>
              <th
                data-sortable
                data-column="total_num_programs"
                scope="col"
                class="width-mobile"
              >
                <span class="header-text">Number of Programs</span>
              </th>
              <th data-sortable data-column="total_obs" scope="col">
                <span class="header-text"
                  >Obligations (FY {{ page.fiscal_year }})</span
                >
              </th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
        <div
          class="usa-sr-only"
          aria-live="polite"
          id="agencies-table-status"
        ></div>

        <table
          class="usa-table width-full margin-bottom-0"
          id="applicant-types-table"
          style="display: none"
        >
          <thead>
            <tr>
              <th
                data-sortable
                data-column="title"
                scope="col"
                class="width-mobile-lg"
              >
                <span class="header-text">Applicant Type</span>
              </th>
              <th
                data-sortable
                data-column="total_num_programs"
                scope="col"
                class="width-mobile"
              >
                <span class="header-text">Number of Programs</span>
              </th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
        <div
          class="usa-sr-only"
          aria-live="polite"
          id="applicant-types-table-status"
        ></div>
      </div>

      <!-- Pagination and Download -->
      <div>
        <div class="grid-row grid-gap flex-align-center">
          <div class="grid-col-fill">
            <span class="font-sans-sm" id="pagination-info">
              Showing <span class="text-bold" id="results-start">1</span> to
              <span class="text-bold" id="results-end">10</span> of
              <span class="text-bold" id="results-total">0</span> results
            </span>
          </div>
          <div class="grid-col-auto">
            <nav aria-label="Pagination" class="usa-pagination">
              <ul class="usa-pagination__list">
                <li class="usa-pagination__item usa-pagination__arrow">
                  <a
                    href="javascript:void(0);"
                    class="usa-pagination__link usa-pagination__previous-page"
                    aria-label="Previous page"
                    id="prev-page-button"
                  >
                    <svg class="usa-icon" aria-hidden="true" role="img">
                      <use
                        xlink:href="/assets/img/sprite.svg#navigate_before"
                      ></use>
                    </svg>
                    <span class="usa-pagination__link-text">Previous</span>
                  </a>
                </li>
                <li class="usa-pagination__item usa-pagination__arrow">
                  <a
                    href="javascript:void(0);"
                    class="usa-pagination__link usa-pagination__next-page"
                    aria-label="Next page"
                    id="next-page-button"
                  >
                    <span class="usa-pagination__link-text">Next </span>
                    <svg class="usa-icon" aria-hidden="true" role="img">
                      <use
                        xlink:href="/assets/img/sprite.svg#navigate_next"
                      ></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>

        <div class="grid-row">
          <div class="grid-col-auto">
            <button class="usa-button usa-button--outline border-2px">
              <span>Download .csv file</span>
              <svg
                class="usa-icon margin-left-1"
                aria-hidden="true"
                focusable="false"
                role="img"
              >
                <use xlink:href="/assets/img/sprite.svg#file_download"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include _about-the-data.html %}