<!DOCTYPE html>
<html lang="en">

{% include _head.html %}

<body>

  <a class="usa-skipnav" href="#main-content">Skip to main content</a>

  {% include _banner.html %}

  {% include _header.html %}

  <section class="bg-primary-dark">
    <div class="grid-container">
      <div class="grid-row">
        <h1 class="margin-top-2 margin-bottom-2 text-white">{{ page.title }}</h1>
      </div>
    </div>
  </section>
  <main id="main-content" role="main" class="padding-top-4 bg-base-lightest text-base-dark">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="grid-col-3 bg-white border-right-1 border-base-lightest">
          <h2 class="text-base-dark">Sub-categories</h2>
          <nav aria-label="Side navigation">
            <ul class="usa-sidenav">
              
              {% for sc in site.subcategory %}

                {% if sc.parent_permalink == page.permalink %}

                  <li class="usa-sidenav__item">
                    <a href="{{ sc.permalink }}">{{ sc.title }}</a>
                  </li>

                {% endif %}

              {% endfor %}

            </ul>
          </nav>
        </div>
        <div class="grid-col-9 bg-white border-right-1 border-base-lightest">

        </div>
      </div>
    </div>
  </main>

  {% include _footer.html %}

  <script src="{{ site.baseurl }}/assets/js/uswds.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/d3.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/plot.min.js"></script>

</body>

</html>