---
layout: default
header_title: Explore programs by category
footer_include: _footer-category-index.html
---

<div class="grid-container category-breadcrumb">
  <div class="grid-row grid-gap">
    <nav class="usa-breadcrumb" aria-label="Breadcrumbs,,">
      <ol class="usa-breadcrumb__list">
        <li class="usa-breadcrumb__list-item">
          <a href="/" class="usa-breadcrumb__link"><span>Home</span></a>
        </li>
        <li class="usa-breadcrumb__list-item usa-current" aria-current="page">
          <span>Explore FY {{ page.fiscal_year }} spending</span>
        </li>
      </ol>
    </nav>
  </div>
</div>

<section class="padding-x-2 padding-y-1">
  <div class="grid-container">
    <div class="grid-row">
      <div class="grid-col-12">
        <h1 class="usa-display usa-heading site-title-font text-light">
          Explore FY {{ page.fiscal_year }} spending
        </h1>
      </div>
    </div>
  </div>
</section>

<div class="grid-container">
  <div class="grid-row grid-gap padding-top-1">
    <div class="grid-col-12 line-height-sans-3 padding-top-1">
      This chart shows program spending in FY {{ page.fiscal_year }} for the more than {{ page.total_num_programs |
      whole_number_with_comma }} programs included in the Federal Program Inventory.
      Programs and the related information listed on this page use data pulled from
      <a href="https://sam.gov/" class="usa-link" target="_blank" rel="noopener noreferrer">SAM.gov</a>,
      <a href="https://www.usaspending.gov/" class="usa-link" target="_blank"
        rel="noopener noreferrer">USAspending.gov</a>, and
      <a href="https://home.treasury.gov/policy-issues/tax-policy/tax-expenditures" class="usa-link" target="_blank"
        rel="noopener noreferrer">Treasury.gov</a>, and other publicly available federal agency websites.
    </div>
  </div>

  <div class="display-flex flex-wrap flex-align-end">
    <div class="margin-right-205 margin-bottom-2">
      <label class="usa-label" for="category">Select category
        <span class="usa-label--required">(Required)</span></label>
      <div class="category-select-wrap">
        <select class="usa-select category-select-control width-mobile" name="category" id="category">
          <option value>All categories</option>
        </select>
        <svg class="usa-icon category-select-icon" aria-hidden="true" focusable="false">
          <use href="/assets/img/sprite.svg#expand_more"></use>
        </svg>
      </div>
    </div>
    <div class="margin-right-205 margin-bottom-2">
      <label class="usa-label" for="subcategory">Select sub-category</label>
      <div class="category-select-wrap">
        <select class="usa-select category-select-control width-mobile" name="subcategory" id="subcategory">
          <option value>-Select-</option>
        </select>
        <svg class="usa-icon category-select-icon" aria-hidden="true" focusable="false">
          <use href="/assets/img/sprite.svg#expand_more"></use>
        </svg>
      </div>
    </div>
    <button id="category-button" class="usa-button bg-primary margin-bottom-2 padding-x-3">
      Update category
    </button>
  </div>

  <div class="category-expend-section">
    <div class="margin-205">
      <svg id="myChart" class="width-full" aria-label="Chart displaying data based on selection"
        role="img"></svg>
    </div>
  </div>
  <!-- Commented out pie chart for copy edit, may be updated and added later after review -->

  <!-- <div class="category-expend-section">
    <div class="margin-205">
      <h3 class="font-heading-lg text-bold line-height-heading-3">
        FY {{ page.fiscal_year }} expenditures by type of program
      </h3>
      <p class="text-ink font-heading-sm line-height-body-3">
        This chart shows total program expenditures by type of program for the more than {{ page.total_num_programs | whole_number_with_comma }} programs included in the
        Federal Program Inventory. To view data for all
        types of programs, <a href="#" id="obligations-by-type-download" class="usa-link">download the .csv file</a>.
      </p> -->

  <!-- <div id="obligations-pie-chart" class="width-full maxw-full overflow-x-auto"></div> -->
  <!-- Add a wrapper div with grid classes -->
  <!-- <div class="grid-row">
        <div class="grid-col-12 display-flex flex-justify-center">
          <div id="obligations-pie-chart" class="width-full"></div>
        </div>
      </div>


    </div>
  </div> -->
</div>