---
layout: default
footer_include: _footer-program.html
---

  <section class="bg-primary-dark">
    <div class="grid-container">
      <div class="grid-row">
        <div class="grid-col-12">
          <p class="margin-top-2 margin-bottom-0 text-white text-italic">{{ page.agency }}</p>
        </div>
        <div class="grid-col-12">
          <h1 class="margin-top-0 margin-bottom-2 text-white">{{ page.title }}</h1>
        </div>
      </div>
    </div>
  </section>
  <main id="main-content" role="main" class="padding-top-4 padding-bottom-4 bg-base-lightest text-base-dark">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="desktop:grid-col-3 bg-white desktop:border-right-1 desktop:border-base-lightest">
          <h3 class="text-base-dark">Program information</h3>

          {% if page.popular_name.size > 0 %}

            <div>
              <h4 class="margin-bottom-0 text-base-dark">Popular name</h4>
              <p class="margin-top-0">{{ page.popular_name }}</p>
            </div>

          {% endif %}

          <div>
            <h4 class="margin-bottom-0 text-base-dark">Assistance listing number</h4>
            <p class="margin-top-0">{{ page.cfda }}</p>
          </div>
          <div>
            <h4 class="margin-bottom-0 text-base-dark">Agency</h4>
            <p class="margin-top-0">{{ page.agency }}</p>
          </div>

          {% if page.sub-agency.size > 0 %}

            <div>
              <h4 class="margin-bottom-0 text-base-dark">Sub-agency</h4>
              <p class="margin-top-0">{{ page.sub-agency }}</p>
            </div>

          {% endif %}

          <div>
            <h4 class="margin-bottom-0 text-base-dark">Categories & sub-categories</h4>
            <ul class="margin-top-0">

              {% for x in page.categories %}

                <li>{{ x }}</li>

              {% endfor %}

            </ul>
          </div>
          <div>
            <h4 class="margin-bottom-0 text-base-dark">Assistance types</h4>
            <ul class="margin-top-0">

              {% for x in page.assistance_types %}

                <li>{{ x }}</li>

              {% endfor %}

            </ul>
          </div>
          <div>
            <h4 class="margin-bottom-0 text-base-dark">Eligible applicants</h4>
            <ul class="margin-top-0">

              {% for x in page.applicant_types %}

                <li>{{ x }}</li>

              {% endfor %}

            </ul>
          </div>
          <div>
            <h4 class="margin-bottom-0 text-base-dark">Eligible beneficiaries</h4>
            <ul class="margin-top-0">

              {% for x in page.beneficiary_types %}

                <li>{{ x }}</li>

              {% endfor %}

            </ul>
          </div>
          <div>
            <h4 class="margin-bottom-0 text-base-dark">External links</h4>
            <ul class="margin-top-0">
              <li><a href="{{ page.sam_url }}" target="_blank">View more information about this program on SAM.gov</a></li>
            </ul>
          </div>
        </div>
        <div class="desktop:grid-col-9">

          <div class="grid-row">
            <div class="grid-col-12">
              <section class="bg-white padding-2">
                <h2 class="margin-top-0">Program objective</h2>
                <div class="usa-prose">
                  <p>{{ page.objective }}</p>
                </div>
              </section>
            </div>
            <div class="grid-col-12">
              <section class="bg-white margin-top-3 padding-2">
                <h2 class="margin-top-0">Program obligations, by FY (2022 - 2024)</h2>
                <canvas id="spending-visualization"></canvas>
                <div class="usa-accordion usa-accordion--bordered">
                  <h4 class="usa-accordion__heading">
                    <button
                      type="button"
                      class="usa-accordion__button"
                      aria-expanded="false"
                      aria-controls="obligations-about"
                    >
                      About the data
                    </button>
                  </h4>
                  <div id="obligations-about" class="usa-accordion__content usa-prose">
                    <p>
                      This chart shows obligations for the program by fiscal year. All data for this chart was provided by the
                      administering agency and sourced from SAM.gov or USASpending.gov.
                    </p>
                    <p>
                      “SAM.gov actual” displays actual obligations for the fiscal year, as reported by the agency to SAM.gov
                      after the fiscal year concludes.
                    </p>
                    <p>
                      “SAM.gov estimate” displays estimated obligations for the fiscal year, as reported by the agency to
                      SAM.gov before the fiscal year concludes. 
                    </p>
                    <p>
                      “USAspending.gov obligations” displays the total obligations submitted by the agency to USAspending,
                      linked to the assistance listing through its assistance listing number. USAspending.gov is the official
                      source of Federal spending information, displaying actual obligations made by agencies as they are
                      committed.
                    </p>
                    <p>
                      For more information on each of these data sources, please see the “About the data” page.
                    </p>
                  </div>
                </div>
              </section>
            </div>

            {% if page.authorizations.size > 0 %}

            <div class="grid-col-12">
              <section class="bg-white margin-top-3 padding-2">
                <h2 class="margin-top-0">Authorizing statues</h2>
                <div class="usa-prose">
                  <ul>
                  {% for a in page.authorizations %}
                    <li>{{ a }}</li>
                  {% endfor %}
                  </ul>
                </div>
              </section>
            </div>

            {% endif %}

            {% if page.results.size > 0 %}

            <div class="grid-col-12">
              <section class="bg-white margin-top-3 padding-2">
                <h2 class="margin-top-0">Program results</h2>
                
                {% for r in page.results %}

                <h3>{{ r.year }}</h3>
                <div class="usa-prose">
                  <p>{{ r.description }}</p>
                </div>

                {% endfor %}
              </section>
            </div>

            {% endif %}

          </div>
        </div>
      </div>
    </div>
  </main>