---
layout: default
footer_include: _footer-program.html
---

{% include scripts/_dollar-standardization.html %}

<div class="grid-container">

  <div class="grid-row grid-gap">
    <!-- Main Column -->
    <div class="grid-col-9 margin-bottom-5 border-top border-base-lightest">
      <!-- Breadcrumb Header -->
      {% include components/_breadcrumb-header.html %}
      <!-- Page Title -->
      {% include components/_page-title.html display_aka=true %}

      <!-- Tab Navigation -->
      {% assign program_tabs = "Overview,Spending,Results,Authorization,Oversight" | split: "," %}
      {% include components/_tab-navigation.html tabs=program_tabs %}

      <!-- Tab Panels -->
      
      <!-- Overview Panel -->
      <div id="overview-panel" role="tabpanel" aria-labelledby="overview-tab" class="tab-panel">
        <div class="grid-row grid-gap padding-bottom-205">
          <!-- Overview Header -->
          <div class="grid-col-10 margin-bottom-2">
            <h2 class="text-bold margin-top-0 margin-bottom-1">Overview</h2>
            <p class="margin-top-0 margin-bottom-3" style="line-height: 1.5;">
              {% assign program_description = "Description not yet available." %}
              {% if page.objective != nil and page.objective != '' %}
                {% assign program_description = page.objective %}
              {% endif %}
              {{ program_description }}
            </p>
            
            <!-- Sub-categories Tags -->
            {% include components/_subcategory-tags.html categories=page.categories %}
          </div>
          <!-- Overview Content -->
          <div class="grid-col-12 grid-row grid-gap margin-bottom-4" style="margin:0;">
            <!-- Side bar -->
            {% assign has_pons = true %}
            {% assign has_purpose = true %}
            {% if page.pons == nil or page.pons.size == 0 %}
              {% assign has_pons = false %}
            {% endif %}
            {% if page.gwo == nil and has_pons == false %}
              {% assign has_purpose = false %}
            {% endif %}

            {% if has_purpose == true %}
              <div class="grid-col-4 border-right-2px border-top-2px border-base" style="border-right: 1px dotted #000; border-top: 1px dotted #000;">
                <div class="display-flex flex-justify flex-align-center margin-top-2 margin-bottom-3">
                  <h2 class="text-bold">Purpose</h2>
                </div>
                {% if page.gwo != nil %}
                <h4 class="text-base-dark margin-top-1 margin-bottom-2">Objective</h4>
                  {% assign gwo_target_count = 0 %}
                  {% if page.gwo and page.gwo.permalink %}
                    {% assign gwo_id = page.gwo.permalink | split: '/' | last %}
                    {% assign gwo_data = site.gwo | where: "permalink", page.gwo.permalink | first %}
                    {% if gwo_data and gwo_data.where_used %}
                      {% assign gwo_target_count = gwo_data.where_used | size %}
                    {% endif %}
                  {% endif %}
                  {% include components/_clickable-tile.html href=page.gwo.permalink title=page.gwo.gwo target_count=gwo_target_count icon="flag" icon_style="min-width: 1rem; width: 1rem; height: 1rem;" title_margin="margin-bottom-05" padding="" %}
                {% endif %}

                {% if has_pons == true %}
                <h4 class="text-base-dark margin-top-1 margin-bottom-1">Outcomes</h4>
                <ul class="usa-list usa-list--unstyled ">
                  {% for pon in page.pons %}
                    {% assign pon_target_count = 0 %}
                    {% if pon.permalink %}
                      {% assign pon_data = site.pon | where: "permalink", pon.permalink | first %}
                      {% if pon_data and pon_data.where_used %}
                        {% assign pon_target_count = pon_data.where_used | size %}
                      {% endif %}
                    {% endif %}
                    <li>
                      {% include components/_clickable-tile.html href=pon.permalink title=pon.pon target_count=pon_target_count icon="radio_button_unchecked" %}
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
              </div>
            {% endif %}
            <!-- Data Display -->
            <div class="grid-col-fill border-top-2px border-base" style="border-top: 1px dotted #000;">
              <!-- Header -->
              <div class="display-flex flex-justify flex-align-center margin-top-2">
                <h2 class="text-bold">Spending</h2>
                {% include components/_view-results.html href="#" text="View spending details" onclick="document.getElementById('spending-tab').click();" %}
              </div>
              <!-- FY Outlay & Improper Payment Rate -->
              {% include components/_improper-payment.html %}
              <!-- Graph Start -->
              {% assign outlays = page.outlays %}
              {% if outlays == nil and page.other_program_spending != nil %}
                {% assign outlays = page.other_program_spending %}
              {% endif %}
              <h3 id="chart-header" class="font-heading-sm">Outlays by Fiscal Year</h3>
              <div class="grid grid-row radius-md">
                <div class="grid-col-12">
                  <div id="chart" style="width:100%" data-outlays='{{ outlays }}'></div>
                  <p id="no-chart" class="hide">Expenditures not yet available.</p>
                </div>
              </div>
              <!-- Graph End -->
            </div>
          </div>
        </div>
      </div>
      <!-- End Overview Panel -->
      
      <!-- Spending Panel -->
      <div id="spending-panel" role="tabpanel" aria-labelledby="spending-tab" class="tab-panel display-none">
        <div class="grid-row grid-gap padding-bottom-205">
          <div class="grid-col-12">
            <h2 class="text-bold margin-top-0 margin-bottom-3">Spending</h2>
            {% include components/_spending-chart.html
              outlays=outlays %}

            <h2 class="text-bold margin-top-0 margin-bottom-3">Program Spending</h2>

            <!-- Legacy Notification Bar -->
            <div id="improper-payment">
              {% if page.improper_payments == null %}
              <div class="usa-alert usa-alert--success">
                <div class="usa-alert__body">
                  <p class="usa-alert__text">
                    This program is not associated with any Improper Payment Program Activities that were at risk of
                    significant improper payments.
                  </p>
                </div>
              </div>
              {% else %}
              <p>Improper payments are payments that not made in the correct amount (i.e., overpayments or underpayments), not made to the correct recipient, or not made with strict adherence to agency policies and procedures. Improper payments are not a measure of fraud.
                <br/>
                <br/>
                Agencies may report improper payment information for program activities that differ from the programs listed on the Federal Program Inventory. OMB is working with agencies to align this reporting. The table below shows all Improper Payment Program Activities associated with this program, as well as other programs related to each Improper Payment Program Activity.</p>
              <span>
                View more information 
              </span>
              <a href="https://www.paymentaccuracy.gov/" class="usa-link usa-link--external" target="_blank"
                rel="noopener noreferrer">
                PaymentAccuracy.gov</a>
                <table class="usa-table usa-table--borderless .usa-table--white-header" id="improper-payments-table">
                  <thead>
                    <tr>
                      <th class= "text-top" scope="col">Improper Payment Program Activity for FY 2024</th>
                      <th class= "text-top" scope="col">Related Programs</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- Data will be inserted here by JavaScript -->
                  </tbody>
                </table>
                <p>
                  <img src="/assets/img/circle-up-solid.svg" alt="High Priority" width="13" height="13" />
                  Shows Improper Payment Programs that are considered High Priority Programs
                </p>
                {% endif %}
            </div>

            <!-- Data Display-->
            <div class="display-flex margin-bottom-4" style="gap: 1rem;">
              <!-- Obligation History Chart -->
              <div class="flex-1 padding-2 padding-bottom-40 margin-top-4 border-1px border-base-lighter radius-md">
                <h3 id="obligationChartTitle" class="margin-bottom-2">Obligation History</h3>
                <div id="obligationChartContainer" class="display-flex flex-column flex-align-center flex-justify-center">
                  <div id="obligationChart" class="width-full"></div>
                </div>
              </div>
              <!-- Detailed Obligations Table -->
              <div class="flex-1 padding-2 padding-bottom-40 margin-top-4 border-1px border-base-lighter radius-md padding-left-2">
                <h3 id="obligationTableTitle" class="margin-bottom-3">Detailed Obligations</h3>
                <table class="usa-table usa-table--unstyled width-full" id="obligation-table">
                  <thead>
                    <tr>
                      <th scope="col" class="text-left text-base padding-2" style="width: 50%;">FISCAL YEAR</th>
                      <th scope="col" class="text-right text-base padding-2" style="width: 50%;">AMOUNT</th>
                    </tr>
                  </thead>
                  <tbody id="obligation-table-body">
                    <!-- Data will be inserted here by JavaScript -->
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Results Panel -->
      <div id="results-panel" role="tabpanel" aria-labelledby="results-tab" class="tab-panel display-none">
        <div class="grid-row grid-gap padding-bottom-205">
          <div class="grid-col-12">
            <h2 class="text-bold margin-top-0 margin-bottom-1 padding-bottom-4">Program Results</h2>
            <!-- Program Results Start -->
            {% if page.results and page.results.size > 0 %}
              <div id="program-results">
                {% assign sorted_results = page.results | sort: 'year' %}
                {% for result in sorted_results %}
                  <div class="padding-bottom-4">
                    <div class="font-heading-lg text-bold">{{ result.year }}</div>
                    <p class="margin-top-1 desc-line-spacing">{{ result.description | markdownify }}</p>
                  </div>
                {% endfor %}
              </div>
            {% endif %}
            <!-- Program Results End -->
          </div>
        </div>
      </div>
      
      <!-- Authorization Panel -->
      <div id="authorization-panel" role="tabpanel" aria-labelledby="authorization-tab" class="tab-panel display-none">
        <div class="grid-row grid-gap padding-bottom-205">
          <div class="grid-col-12">
            {% include components/_authorization-tab.html
              authorizations=page.authorizations
              rules_regulations=page.rules_regulations %}
          </div>
        </div>
      </div>
      
      <!-- Oversight Panel -->
      <div id="oversight-panel" role="tabpanel" aria-labelledby="oversight-tab" class="tab-panel display-none">
        <div class="grid-row grid-gap padding-bottom-205">
          <div class="grid-col-12">
            <h2 class="text-bold margin-top-0 margin-bottom-1">Oversight & Audits</h2>
            <p>Oversight activities and compliance information will be displayed here.</p>
            <div id="program-single-audit">
              <p class="line-height-body-4 text-bold margin-bottom-1 display-flex flex-align-center">
                Single Audit Applies (2 CFR Part 200 Subpart F):
                {% if page.is_subpart_f == 1 %}
                <svg class="usa-icon text-success margin-left-1" style="width: 1.5rem; height: 1.5rem;" aria-hidden="true"
                  focusable="false" role="img">
                  <use href="/assets/img/sprite.svg#check_circle"></use>
                </svg>
                {% else %}
                <svg class="usa-icon text-error margin-left-1" style="width: 1.5rem; height: 1.5rem;" aria-hidden="true"
                  focusable="false" role="img">
                  <use href="/assets/img/sprite.svg#cancel"></use>
                </svg>
                {% endif %}
              </p>
              <p class="line-height-body-4">
                For additional information on single audit requirements for this program, review the current
                <a href="https://www.whitehouse.gov/omb/office-federal-financial-management/current-compliance-supplement/"
                  class="usa-link usa-link--external" target="_blank" rel="noopener noreferrer">Compliance Supplement.</a>
              </p>
            </div>
            {% if page.rules_regulations and page.rules_regulations != "" and page.rules_regulations != nil %}
              <div id="program-rules-regs" >
                {{ page.rules_regulations }}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>


    <!--- Program Column Display Start --->
    <div class="grid-col-3 border-left border-base-lightest border-top padding-left-3">
      <!-- Categories Section -->
      {% assign main_categories = page.categories | group_by_exp: "item", "item | split: ' - ' | first" | map: "name" %}
      {% include components/_list-section.html 
         title="Categories" 
         title_weight="text-bold"
         items=main_categories 
         icon="assessment" 
         margin_class="margin-bottom-2"
         data_filter_type="category"
         icon_class="margin-right-1" %}

      <!-- Program Types Section -->
      {% include components/_list-section.html
         title="Program Type"
         title_weight="text-bold"
         data_key="assistance_types"
         icon="settings"
         icon_style="min-width: 1rem; width: 1rem; height: 1rem;"
         margin_class="margin-bottom-2"
         data_filter_type="assistance"
         icon_class="margin-right-1" %}

      <!-- Eligible Beneficiaries Section -->
      {% include components/_list-section.html
       title="Beneficiaries"
       data_key="beneficiary_types"
       icon="person"
       icon_style="min-width: 1rem; width: 1rem; height: 1rem;"
       span_class="flex-fill" %}

      <!-- Eligible Applicants Section -->
      {% include components/_list-section.html
       title="Applicants"
       title_weight="text-bold"
       data_key="applicant_types"
       icon="grid_view"
       data_filter_type="applicant"
       icon_style="min-width: 1rem; width: 1rem; height: 1rem;" %}
  </div>
</div>
<!--- Program Column Display End --->
</div>

<!-- Include modular JavaScript functionality -->
{% include scripts/_chart-utils.html %}
{% include scripts/_tab-navigation.html %}
{% include scripts/_program-charts.html %}
