---
layout: default

header_title: Program Search
footer_include: _footer-search.html
---
<section class="bg-primary-darker padding-x-2 padding-y-3" style="background-image: url('../assets/img/banner.png'), linear-gradient(0deg, #272A63, #272A63);
         background-position: center right; background-repeat: no-repeat; background-size: contain;">
  <div class="grid-container">
    <div class="grid-row">
      <div class="grid-col-12">

        <h1 class="usa-display usa-heading text-white font-heading-2xl text-light">{{
          layout.header_title }}</h1>
      </div>
    </div>
  </div>
</section>

<div class="grid-container">
  <div class="grid-row grid-gap">
    <nav class="usa-breadcrumb padding-top-1" aria-label="Breadcrumbs,,">
      <ol class="usa-breadcrumb__list">
        <li class="usa-breadcrumb__list-item">
          <a href="/" class="usa-breadcrumb__link"><span>Home</span></a>
        </li>
        <li class="usa-breadcrumb__list-item usa-current" aria-current="page">
          <span>Program Search</span>
        </li>
      </ol>
    </nav>
  </div>
  <div class="grid-row grid-gap padding-top-1">
    <div class="desktop:grid-col-3 bg-white desktop:border-base-lightest">
      <form id="search-filters">
        <h3 class="usa-display usa-heading font-heading-lg text-primary line-height-heading-3 text-light margin-0">
          Filters</h3>
        <div class="line-height-sans-3 padding-bottom-2">
          Expand the filters below to select the filters you wish to apply.
          <br />
          <br />
          Sub-agencies and sub-categories are included in their respective filter.
        </div>
        <!-- agency sub nav-->
        <nav class="usa-sidenav">
          <ul class="usa-sidenav__sublist">
            <li class="usa-sidenav__item">
              <div class="border-top border-base-lighter"></div>

              <button type="button"
                class="usa-sidenav__button text-no-underline width-full padding-y-1 padding-left-2 padding-right-1 display-flex flex-align-center hover:bg-transparent active:bg-transparent border-0 bg-transparent"
                aria-expanded="false" aria-controls="agency-section" data-content-id="agency-section">
                <span class="font-sans-sm text-ink line-height-body-3">Agency</span>
                <div class="margin-left-auto width-3 display-flex flex-justify-end flex-align-center">
                  <svg class="usa-icon" aria-hidden="true" focusable="false" role="img" width="24" height="24">
                    <use xlink:href="/assets/img/sprite.svg#expand_more"></use>
                  </svg>
                </div>
              </button>

              <!-- Agency Content -->
              <div class="usa-sidenav__submenu margin-top-1 padding-bottom-105" id="agency-section" hidden>
                <fieldset class="usa-fieldset margin-0">
                  {% for a in page.cfo_agencies %}
                  <!-- Parent Agency Container -->
                  <div class="display-flex flex-align-start">
                    <!-- Caret container -->
                    <div class="padding-left-2 padding-top-1">
                      {% if a.sub_categories.size > 0 %}
                      <button
                        class="toggle expandable-button text-ink border-0 bg-transparent cursor-pointer hover:text-primary-dark"
                        data-content-id="children-for-check-agency-{{ forloop.index }}" aria-expanded="false"
                        aria-label="Toggle sub-items" tabindex="0">
                        <svg class="usa-icon text-ink" aria-hidden="true" focusable="false" role="img" width="24"
                          height="24">
                          <use xlink:href="/assets/img/sprite.svg#navigate_next"></use>
                        </svg>
                      </button>
                      {% else %}
                      <a class="toggle expandable-button" style="pointer-events: none;">
                        <svg class="usa-icon opacity-0" aria-hidden="true" focusable="false" role="img" width="24"
                          height="24">
                          <use xlink:href="/assets/img/sprite.svg#navigate_next"></use>
                        </svg>
                      </a>
                      {% endif %}
                    </div>
                    <!-- Checkbox container -->
                    <div class="usa-checkbox flex-fill">
                      <input class="usa-checkbox__input parent-checkbox width-2 height-2"
                        id="check-agency-{{ forloop.index }}" type="checkbox" name="agencies" data-filter-type="agency"
                        data-agency-title="{{ a.title }}"
                        data-children-id="children-for-check-agency-{{ forloop.index }}" />
                      <label class="usa-checkbox__label font-sans-2xs line-height-body-3 padding-top-0"
                        for="check-agency-{{ forloop.index }}">
                        {{ a.title }}
                      </label>
                    </div>
                  </div>

                  <!-- Child Checkboxes -->
                  {% if a.sub_categories.size > 0 %}
                  <div id="children-for-check-agency-{{ forloop.index }}" class="margin-left-9" hidden>
                    {% for sa in a.sub_categories %}
                    <div class="usa-checkbox">
                      <input class="usa-checkbox__input child-checkbox width-2 height-2"
                        id="check-agency-{{ forloop.parentloop.index }}-{{ forloop.index }}" type="checkbox"
                        name="agencies" data-filter-type="sub-agency" data-agency-title="{{ a.title }}"
                        data-subagency-title="{{ sa.title }}" />
                      <label class="usa-checkbox__label font-sans-2xs line-height-body-3 padding-top-0"
                        for="check-agency-{{ forloop.parentloop.index }}-{{ forloop.index }}">
                        {{ sa.title }}
                      </label>
                    </div>
                    {% endfor %}
                  </div>
                  {% endif %}
                  {% endfor %}

                  <!-- Other Agencies Section -->
                  <div class="display-flex flex-align-start">
                    <div class="padding-left-2 padding-top-1">
                      <button
                        class="toggle expandable-button text-ink border-0 bg-transparent cursor-pointer hover:text-primary-dark"
                        data-content-id="children-for-check-agency-other" aria-expanded="false"
                        aria-label="Toggle sub-items" tabindex="0">
                        <svg class="usa-icon text-ink" aria-hidden="true" focusable="false" role="img" width="24"
                          height="24">
                          <use xlink:href="/assets/img/sprite.svg#navigate_next"></use>
                        </svg>
                      </button>
                    </div>
                    <div class="usa-checkbox flex-fill">
                      <input class="usa-checkbox__input parent-checkbox width-2 height-2" id="check-agency-other"
                        type="checkbox" name="agencies" data-filter-type="agency" data-agency-title="Other agencies"
                        data-children-id="children-for-check-agency-other" />
                      <label class="usa-checkbox__label font-sans-2xs line-height-body-3 padding-top-0"
                        for="check-agency-other">
                        Other agencies
                      </label>
                    </div>
                  </div>

                  <div id="children-for-check-agency-other" class="margin-left-9" hidden>
                    {% for a in page.other_agencies %}
                    <div class="usa-checkbox">
                      <input class="usa-checkbox__input child-checkbox width-2 height-2"
                        id="check-agency-other-{{ forloop.index }}" type="checkbox" name="agencies"
                        data-filter-type="sub-agency" data-agency-title="Other agencies"
                        data-subagency-title="{{ a.title }}" />
                      <label class="usa-checkbox__label font-sans-2xs line-height-body-3 padding-top-0"
                        for="check-agency-other-{{ forloop.index }}">
                        {{ a.title }}
                      </label>
                    </div>
                    {% endfor %}
                  </div>
                </fieldset>
              </div>
            </li>
          </ul>
        </nav>
        <!-- end agency sub nav-->
        <!-- category sub nav-->
        <nav class="usa-sidenav">
          <ul class="usa-sidenav__sublist">
            <li class="usa-sidenav__item">
              <div class="border-top border-base-lighter"></div>

              <button type="button"
                class="usa-sidenav__button text-no-underline width-full padding-y-1 padding-left-2 padding-right-1 display-flex flex-align-center hover:bg-transparent active:bg-transparent border-0 bg-transparent"
                aria-expanded="false" aria-controls="categories-section" data-content-id="categories-section">
                <span class="font-sans-sm text-ink line-height-body-3">Categories</span>
                <div class="margin-left-auto width-3 display-flex flex-justify-end flex-align-center">
                  <svg class="usa-icon" aria-hidden="true" focusable="false" role="img" width="24" height="24">
                    <use xlink:href="/assets/img/sprite.svg#expand_more"></use>
                  </svg>
                </div>
              </button>

              <!-- Categories Content -->
              <div class="usa-sidenav__submenu margin-top-1 padding-bottom-105" id="categories-section" hidden>
                <fieldset class="usa-fieldset margin-0">
                  {% for c in page.categories %}
                  <!-- Parent Category Container -->
                  <div class="display-flex flex-align-start">
                    <!-- Caret container -->
                    <div class="padding-left-2 padding-top-1">
                      {% if c.sub_categories.size > 0 %}
                      <button
                        class="toggle expandable-button text-ink border-0 bg-transparent cursor-pointer hover:text-primary-dark"
                        data-content-id="children-for-check-category-{{ forloop.index }}" aria-expanded="false"
                        aria-label="Toggle sub-items" tabindex="0">
                        <svg class="usa-icon text-ink" aria-hidden="true" focusable="false" role="img" width="24"
                          height="24">
                          <use xlink:href="/assets/img/sprite.svg#navigate_next"></use>
                        </svg>
                      </button>
                      {% else %}
                      <a class="toggle expandable-button" style="pointer-events: none;">
                        <svg class="usa-icon opacity-0" aria-hidden="true" focusable="false" role="img" width="24"
                          height="24">
                          <use xlink:href="/assets/img/sprite.svg#navigate_next"></use>
                        </svg>
                      </a>
                      {% endif %}
                    </div>
                    <!-- Checkbox container -->
                    <div class="usa-checkbox flex-fill">
                      <input class="usa-checkbox__input parent-checkbox width-2 height-2"
                        id="check-category-{{ forloop.index }}" type="checkbox" name="categories"
                        data-filter-type="category" data-category-id="{{ c.id }}" data-category-title="{{ c.title }}"
                        data-children-id="children-for-check-category-{{ forloop.index }}" />
                      <label class="usa-checkbox__label font-sans-2xs line-height-body-3 padding-top-0"
                        for="check-category-{{ forloop.index }}">
                        {{ c.title }}
                      </label>
                    </div>
                  </div>

                  <!-- Child Checkboxes -->
                  {% if c.sub_categories.size > 0 %}
                  <div id="children-for-check-category-{{ forloop.index }}" class="margin-left-9" hidden>
                    {% for sc in c.sub_categories %}
                    <div class="usa-checkbox">
                      <input class="usa-checkbox__input child-checkbox width-2 height-2"
                        id="check-category-{{ forloop.parentloop.index }}-{{ forloop.index }}" type="checkbox"
                        name="categories" data-filter-type="sub-category" data-category-id="{{ c.id }}"
                        data-category-title="{{ c.title }}" data-subcategory-id="{{ sc.id }}"
                        data-subcategory-title="{{ sc.title }}" />
                      <label class="usa-checkbox__label font-sans-2xs line-height-body-3 padding-top-0"
                        for="check-category-{{ forloop.parentloop.index }}-{{ forloop.index }}">
                        {{ sc.title }}
                      </label>
                    </div>
                    {% endfor %}
                  </div>
                  {% endif %}
                  {% endfor %}
                </fieldset>
              </div>
            </li>
          </ul>
        </nav>
        <!-- end category sub nav-->
        <nav class="usa-sidenav">
          <ul class="usa-sidenav__sublist">
            <li class="usa-sidenav__item">
              <div class="border-top border-base-lighter"></div>

              <button type="button"
                class="usa-sidenav__button text-no-underline width-full padding-y-1 padding-left-2 padding-right-1 display-flex flex-align-center hover:bg-transparent active:bg-transparent border-0 bg-transparent"
                aria-expanded="false" aria-controls="program-type-section" data-content-id="program-type-section">
                <span class="font-sans-sm text-ink line-height-body-3">Program type</span>
                <div class="margin-left-auto width-3 display-flex flex-justify-end flex-align-center">
                  <svg class="usa-icon" aria-hidden="true" focusable="false" role="img" width="24" height="24">
                    <use xlink:href="/assets/img/sprite.svg#expand_more"></use>
                  </svg>
                </div>
              </button>

              <!-- Program Type Content -->
              <div class="usa-sidenav__submenu margin-top-1 padding-bottom-105" id="program-type-section" hidden>
                <fieldset class="usa-fieldset margin-0">
                  {% for a in page.assistance_types %}
                  <div class="display-flex flex-align-start">
                    <div class="padding-left-2">
                      <a class="toggle expandable-button" style="pointer-events: none;">
                        <svg class="usa-icon opacity-0" aria-hidden="true" focusable="false" role="img" width="24"
                          height="24">
                          <use xlink:href="/assets/img/sprite.svg#navigate_next"></use>
                        </svg>
                      </a>
                    </div>
                    <div class="usa-checkbox flex-fill">
                      <input class="usa-checkbox__input parent-checkbox width-2 height-2"
                        id="check-assistancetype-{{ forloop.index }}" type="checkbox" name="assistancetypes"
                        data-filter-type="assistance" data-assistance-title="{{ a.title }}" />
                      <label class="usa-checkbox__label font-sans-2xs line-height-body-3 padding-top-0"
                        for="check-assistancetype-{{ forloop.index }}">
                        {{ a.title }}
                      </label>
                    </div>
                  </div>
                  {% endfor %}
                </fieldset>
              </div>
            </li>
          </ul>
        </nav>

        <!-- Eligible Applicants sub nav -->
        <nav class="usa-sidenav">
          <ul class="usa-sidenav__sublist">
            <li class="usa-sidenav__item">
              <div class="border-top border-base-lighter"></div>

              <button type="button"
                class="usa-sidenav__button text-no-underline width-full padding-y-1 padding-left-2 padding-right-1 display-flex flex-align-center hover:bg-transparent active:bg-transparent border-0 bg-transparent"
                aria-expanded="false" aria-controls="eligible-applicants-section"
                data-content-id="eligible-applicants-section">
                <span class="font-sans-sm text-ink line-height-body-3">Eligible applicants</span>
                <div class="margin-left-auto width-3 display-flex flex-justify-end flex-align-center">
                  <svg class="usa-icon" aria-hidden="true" focusable="false" role="img" width="24" height="24">
                    <use xlink:href="/assets/img/sprite.svg#expand_more"></use>
                  </svg>
                </div>
              </button>

              <!-- Eligible Applicants Content -->
              <div class="usa-sidenav__submenu margin-top-1 padding-bottom-105" id="eligible-applicants-section" hidden>
                <fieldset class="usa-fieldset margin-0">
                  {% for a in page.applicant_types %}
                  <div class="display-flex flex-align-start">
                    <div class="padding-left-2">
                      <a class="toggle expandable-button" style="pointer-events: none;">
                        <svg class="usa-icon opacity-0" aria-hidden="true" focusable="false" role="img" width="24"
                          height="24">
                          <use xlink:href="/assets/img/sprite.svg#navigate_next"></use>
                        </svg>
                      </a>
                    </div>
                    <div class="usa-checkbox flex-fill">
                      <input class="usa-checkbox__input parent-checkbox width-2 height-2"
                        id="check-applicant-{{ forloop.index }}" type="checkbox" name="applicants"
                        data-filter-type="applicant" data-applicant-title="{{ a.title }}" />
                      <label class="usa-checkbox__label font-sans-2xs line-height-body-3 padding-top-0"
                        for="check-applicant-{{ forloop.index }}">
                        {{ a.title }}
                      </label>
                    </div>
                  </div>
                  {% endfor %}
                </fieldset>
              </div>
              <div class="border-bottom border-base-lighter"></div>
            </li>
          </ul>
        </nav>
      </form>
    </div>
    <div class="desktop:grid-col-9">
      <div class="width-full text-primary font-sans-xl line-height-sans-2">Search for programs</div>
      <div class="width-full text-ink font-sans-lg line-height-sans-3 padding-top-2">Programs listed here use data
        pulled from SAM.gov, USASpending.gov, and Treasury.gov</div>
      <div class="width-full text-ink font-sans-sm text-bold padding-top-2">Search by program name, popular name,
        objectives, or outcomes</div>

      <form class="usa-search usa-search--small padding-top-1 padding-bottom-2" role="search">
        <label class="usa-sr-only" for="search-field-en-small">Search</label>
        <input class="usa-input" id="search-field-en-small" type="search" name="search" />
        <button class="usa-button" type="submit">
          <img src="/assets/img/usa-icons-bg/search--white.svg" class="usa-search__submit-icon" alt="Search" />
        </button>
      </form>

      <div class="bg-secondary-lighter padding-2">
        <div class="width-full text-primary font-sans-lg text-bold">Programs at a glance</div>
        <div class="width-full font-sans-sm padding-top-1 line-height-body-3">
          <span class="text-ink">The numbers below show </span>
          <span class="text-ink text-bold">Programs</span>
          <span class="text-ink">and </span>
          <span class="text-ink text-bold">Expenditures</span><span class="text-ink">,</span>
          <span class="text-ink">
            both as submitted by agencies. For financial assistance and interest on the public debt, expenditures
            are obligations. For tax expenditures, expenditures are the sum of outlays and revenue losses.
          </span>
        </div>
        <div class="grid-row padding-top-2">
          <div class="grid-col-7">
            <div class="width-full">
              <span class="text-primary font-heading-xl text-bold" id="filtered-count"></span>
              <span class="text-primary font-heading-xl" id="total-programs"> of <span id="global-count"></span></span>
            </div>
            <div class="width-full">
              <span class="text-ink font-sans-lg line-height-sans-4">programs</span>
            </div>
          </div>
          <div class="grid-col-5">
            <div class="width-full">
              <span class="text-primary font-heading-xl text-bold" id="filtered-obligations"></span>
              <span class="text-primary font-heading-xl" id="total-obligations"> of <span
                  id="global-obligations"></span></span>
            </div>
            <div class="width-full">
              <span class="text-ink font-sans-lg line-height-sans-4">in FY {{ page.fiscal_year }} expenditures</span>
            </div>
          </div>
        </div>
      </div>
      <div class="width-full">
        <div class="display-flex flex-wrap flex-justify tablet:flex-justify-between margin-y-2 mobile-lg:flex-column mobile-lg:flex-align-start">
            <button class="usa-button usa-button--outline text-bold">
              Clear Filters
            </button>

          <div class="display-flex tablet:flex-row flex-wrap gap-1">
            <span class="padding-right-2 padding-top-2 tablet:padding-top-1 text-bold font-sans-sm">Sort results by:</span>
            <div class="display-flex">
              <button id="expenditureSort"
                class="usa-button height-5 margin-right-0 radius-left-lg radius-right-0 text-bold">
                Expenditures
              </button>
              <button id="programNameSort" class="usa-button usa-button--outline height-5 radius-right-lg radius-left-0 text-bold margin-right-0">
                Program Name
              </button>
            </div>
          </div>
        </div>
      </div>
        
      <!--programs table-->
      <div class="program-results">
        <div id="program-list" class="usa-collection">
        </div>
        <!-- pagination -->
        <div class="grid-row">

          <div class="grid-col-fill text-left padding-y-3">
            <span class="font-sans-sm" id="pagination-info">
              Showing <span class="text-bold" id="results-start">1</span> to
              <span class="text-bold" id="results-end">10</span> of
              <span class="text-bold" id="results-total">0</span> results
            </span>
          </div>

          <div class="grid-col-auto">
            <nav aria-label="Pagination" class="usa-pagination">
              <ul class="usa-pagination__list">
                <li class="usa-pagination__item usa-pagination__arrow">
                  <a href="javascript:void(0);" class="usa-pagination__link usa-pagination__previous-page"
                    aria-label="Previous page" id="prev-page-button">
                    <svg class="usa-icon" aria-hidden="true" role="img">
                      <use xlink:href="/assets/img/sprite.svg#navigate_before"></use>
                    </svg>
                    <span class="usa-pagination__link-text">Previous</span>
                  </a>
                </li>
                <!-- Page numbers will be inserted here -->
                <li class="usa-pagination__item usa-pagination__arrow">
                  <a href="javascript:void(0);" class="usa-pagination__link usa-pagination__next-page"
                    aria-label="Next page" id="next-page-button">
                    <span class="usa-pagination__link-text">Next </span>
                    <svg class="usa-icon" aria-hidden="true" role="img">
                      <use xlink:href="/assets/img/sprite.svg#navigate_next"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <!-- end pagination -->
      </div>
      <!-- Template for each program -->
      <template id="program-template">
        <div class="padding-y-2 border-bottom border-base-lighter">
          <div class="grid-row grid-gap">
            <div class="tablet:grid-col-8">
              <a href="#" class="usa-link text-bold program-title">
              </a>
            </div>
            <div class="tablet:grid-col-4">
              <div class="grid-col-12 md:text-right text-left text-italic program-obligations">
              </div>
            </div>
            <div class="grid-row">
              <div class="grid-col-12" data-popular-name-container>
                <span class="text-bold">Popular name:</span>
                <span class="padding-right-2 program-popular-name"></span>
              </div>
              <div class="grid-col-12">
                <span class="text-bold">Agency:</span>
                <span class="program-agency"></span>
              </div>
            </div>
            <div class="grid-row margin-top-1">
              <div class="grid-col-12">
                <div class="objectives-container">
                  <p class="margin-y-0 line-height-sans-4 program-objectives text-truncate">
                  </p>
                  <button class="usa-button usa-button--unstyled read-more-btn" type="button">
                    ...read more
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </template>
      <!--programs table end-->


    </div>
  </div>
</div>
</div>
</main>