---
layout: default

header_title: Program search
footer_include: _footer-search.html
---

<section class="bg-primary-dark">
  <div class="grid-container">
    <div class="grid-row">
      <div class="grid-col-12">
        <h1 class="margin-top-2 margin-bottom-2 text-white">{{ layout.header_title }}</h1>
      </div>
    </div>
  </div>
</section>
<main id="main-content" role="main" class="padding-top-4 padding-bottom-4 bg-base-lightest text-base-dark">
  <div class="grid-container">
    <div class="grid-row grid-gap">
      <div class="desktop:grid-col-3 bg-white desktop:border-right-1 desktop:border-base-lightest">
        <form id="search-filters">
          <h3 class="text-base-dark">Filters</h3>
          <div class="usa-accordion  usa-accordion--bordered" data-allow-multiple>
            
            
            <h4 class="usa-accordion__heading">
              <button
                type="button"
                class="usa-accordion__button"
                aria-expanded="false"
                aria-controls="categories"
              >
                Categories
                <span class="text-normal">
                  <span class="usa-tooltip" data-position="right" title="{{ page.tooltip_sub_categories }}">
                    <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                      <use xlink:href="/assets/img/sprite.svg#info"></use>
                    </svg>
                  </span>
                </span>
              </button>
            </h4>
            <div id="categories" class="usa-accordion__content">
              <fieldset class="usa-fieldset">

                  {% for c in page.categories %}

                    <div class="display-flex">
                      <a class="padding-05 margin-0 toggle" id="toggle-for-check-category-{{ forloop.index }}" data-children-id="children-for-check-category-{{ forloop.index }}">
                        <span class="font-body-md {% if c.sub_categories.size == 0 %} text-white {% else %} text-base-light {% endif %} margin-top-05">
                          <svg class="usa-icon display-block" aria-hidden="true" focusable="false" role="img">
                            <use xlink:href="/assets/img/sprite.svg#navigate_next"></use>
                          </svg>
                        </span>
                      </a>
                      <div class="usa-checkbox">
                        <input
                            class="usa-checkbox__input check-category-{{ forloop.index }} parent"
                            id="check-category-{{ forloop.index }}"
                            type="checkbox"
                            name="categories"
                            data-filter-type="category"
                            value="{{ c.title }}"
                        />
                        <label class="usa-checkbox__label font-body-2xs margin-left-1 margin-top-05" for="check-category-{{ forloop.index }}">
                            {{ c.title }}
                        </label>
                    </div>
                    </div>

                    {% if c.sub_categories.size > 0 %}

                      <div id="children-for-check-category-{{ forloop.index }}" class="margin-left-6" style="display:none;">

                        {% for sc in c.sub_categories %}

                          <div class="usa-checkbox">
                            <input
                              class="usa-checkbox__input child-check-category-{{ forloop.parentloop.index }}"
                              id="check-category-{{ forloop.parentloop.index }}-{{ forloop.index }}"
                              type="checkbox"
                              name="categories"
                              data-filter-type="sub-category"
                              value="{{ c.title }} - {{ sc.title }}"
                            />
                            <label class="usa-checkbox__label font-body-2xs text-italic" for="check-category-{{ forloop.parentloop.index }}-{{ forloop.index }}">
                              {{ sc.title }}
                            </label>
                          </div>

                        {% endfor %}

                      </div>

                    {% endif %}
                    
                  {% endfor %}

              </fieldset>
            </div>


            <h4 class="usa-accordion__heading">
              <button
                type="button"
                class="usa-accordion__button"
                aria-expanded="false"
                aria-controls="agencies"
              >
                Agencies
                <span class="text-normal">
                  <span class="usa-tooltip" data-position="right" title="{{ page.tooltip_agencies }}">
                    <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                      <use xlink:href="/assets/img/sprite.svg#info"></use>
                    </svg>
                  </span>
                </span>
              </button>
            </h4>
            <div id="agencies" class="usa-accordion__content">
              <fieldset class="usa-fieldset">

                {% for a in page.cfo_agencies %}

                  <div class="display-flex">
                    <a class="padding-05 margin-0 toggle" id="toggle-for-check-agency-{{ forloop.index }}" data-children-id="children-for-check-agency-{{ forloop.index }}">
                      <span class="font-body-md {% if a.sub_categories.size == 0 %} text-white {% else %} text-base-light {% endif %} margin-top-05">
                        <svg class="usa-icon display-block" aria-hidden="true" focusable="false" role="img">
                          <use xlink:href="/assets/img/sprite.svg#navigate_next"></use>
                        </svg>
                      </span>
                    </a>
                    <div class="usa-checkbox">
                      <input
                        class="usa-checkbox__input check-agency-{{ forloop.index }} parent"
                        id="check-agency-{{ forloop.index }}"
                        type="checkbox"
                        name="agencies"
                        value="{% for p in a.programs %}{{ p }}{% if forloop.last != true %},{% endif %}{% endfor %}"
                      />
                      <label class="usa-checkbox__label font-body-2xs margin-left-1 margin-top-05" for="check-agency-{{ forloop.index }}">
                        {{ a.title }}
                      </label>
                    </div>
                  </div>

                  {% if a.sub_categories.size > 0 %}

                    <div id="children-for-check-agency-{{ forloop.index }}" class="margin-left-6" style="display:none;">

                      {% for sa in a.sub_categories %}

                        <div class="usa-checkbox">
                          <input
                            class="usa-checkbox__input child-check-agency-{{ forloop.parentloop.index }}"
                            id="check-agency-{{ forloop.parentloop.index }}-{{ forloop.index }}"
                            type="checkbox"
                            name="agencies"
                            value="{% for p in sa.programs %}{{ p }}{% if forloop.last != true %},{% endif %}{% endfor %}"
                          />
                          <label class="usa-checkbox__label font-body-2xs text-italic" for="check-agency-{{ forloop.parentloop.index }}-{{ forloop.index }}">
                            {{ sa.title }}
                          </label>
                        </div>

                      {% endfor %}

                    </div>

                  {% endif %}
                  
                {% endfor %}

                

                  <div class="display-flex">
                    <a class="padding-05 margin-0 toggle" id="toggle-for-check-agency-other" data-children-id="children-for-check-agency-other">
                      <span class="font-body-md text-base-light margin-top-05">
                        <svg class="usa-icon display-block" aria-hidden="true" focusable="false" role="img">
                          <use xlink:href="/assets/img/sprite.svg#navigate_next"></use>
                        </svg>
                      </span>
                    </a>
                    <div class="usa-checkbox">
                      <input
                        class="usa-checkbox__input check-agency-other parent"
                        id="check-agency-other"
                        type="checkbox"
                        name="agencies"
                        value=""
                      />
                      <label class="usa-checkbox__label font-body-2xs margin-left-1 margin-top-05" for="check-agency-other">
                        Other agencies
                      </label>
                    </div>
                  </div>


                    <div id="children-for-check-agency-other" class="margin-left-6" style="display:none;">
                    
                      {% for a in page.other_agencies %}

                        <div class="usa-checkbox">
                          <input
                            class="usa-checkbox__input child-check-agency-other"
                            id="check-agency-other-{{ forloop.index }}"
                            type="checkbox"
                            name="agencies"
                            value="{% for p in a.programs %}{{ p }}{% if forloop.last != true %},{% endif %}{% endfor %}"
                          />
                          <label class="usa-checkbox__label font-body-2xs text-italic" for="check-agency-other-{{ forloop.index }}">
                            {{ a.title }}
                          </label>
                        </div>

                      {% endfor %}

                    </div>

              </fieldset>
            </div>


            <h4 class="usa-accordion__heading">
              <button
                type="button"
                class="usa-accordion__button"
                aria-expanded="false"
                aria-controls="assistancetypes"
              >
                Assistance types
                <span class="text-normal">
                  <span class="usa-tooltip" data-position="right" title="{{ page.tooltip_assistance_types }}">
                    <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                      <use xlink:href="/assets/img/sprite.svg#info"></use>
                    </svg>
                  </span>
                </span>
              </button>
            </h4>
            <div id="assistancetypes" class="usa-accordion__content">
              <fieldset class="usa-fieldset">
                {% for a in page.assistance_types %}
                  <div class="usa-checkbox">
                    <input
                      class="usa-checkbox__input parent"
                      id="check-assistancetype-{{ forloop.index }}"
                      type="checkbox"
                      name="assistancetypes"
                      value="{% for p in a.programs %}{{ p }}{% if forloop.last != true %},{% endif %}{% endfor %}"
                    />
                    <label class="usa-checkbox__label font-body-2xs" for="check-assistancetype-{{ forloop.index }}">
                      {{ a.title }}
                    </label>
                  </div>
                {% endfor %}
              </fieldset>
            </div>


            <h4 class="usa-accordion__heading">
              <button
                type="button"
                class="usa-accordion__button"
                aria-expanded="false"
                aria-controls="applicants"
              >
                Eligible applicants
                <span class="text-normal">
                  <span class="usa-tooltip" data-position="right" title="{{ page.tooltip_eligible_applicants }}">
                    <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                      <use xlink:href="/assets/img/sprite.svg#info"></use>
                    </svg>
                  </span>
                </span>
              </button>
            </h4>
            <div id="applicants" class="usa-accordion__content">
              <fieldset class="usa-fieldset">
                {% for a in page.applicant_types %}
                  <div class="usa-checkbox">
                    <input
                      class="usa-checkbox__input parent"
                      id="check-applicant-{{ forloop.index }}"
                      type="checkbox"
                      name="applicants"
                      value="{% for p in a.programs %}{{ p }}{% if forloop.last != true %},{% endif %}{% endfor %}"
                    />
                    <label class="usa-checkbox__label font-body-2xs" for="check-applicant-{{ forloop.index }}">
                      {{ a.title }}
                    </label>
                  </div>
                {% endfor %}
              </fieldset>
            </div>

          </div>
        </form>
      </div>
      <div class="desktop:grid-col-9">
        <div class="grid-row bg-white">
          <div class="tablet:grid-col-6">
            <section class="padding-2 desktop:border-right-2 desktop:border-base-lightest">
              <span id="big-number-num-of-programs" class="font-body-3xl text-bold"></span>
              <p class="margin-top-0">
                programs
                <span class="usa-tooltip" data-position="right" title="{{ page.tooltip_programs }}">
                  <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                    <use xlink:href="/assets/img/sprite.svg#info"></use>
                  </svg>
                </span>
              </p>
            </section>
          </div>
          <div class="tablet:grid-col-6">
            <section class="padding-2 desktop:border-left-1 desktop:border-right-1 desktop:border-base-lightest">
              <span id="big-number-obligations" class="font-body-3xl text-bold"></span>
              <p class="margin-top-0">
                in FY {{ page.fiscal_year }} obligations
                <span class="usa-tooltip" data-position="right" title="{{ page.tooltip_obligations }}">
                  <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                    <use xlink:href="/assets/img/sprite.svg#info"></use>
                  </svg>
                </span>
              </p>
            </section>
          </div>
        </div>
        <div class="grid-row">
          <div class="grid-col-12">
            <section class="bg-white margin-top-3 padding-2">
              <h2 class="margin-top-0">Programs</h2>
              <div id="programs-table"></div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>