---
layout: default
footer_include: _footer-subcategory.html
header_link_tag: page.parent_permalink

programs_about_text: |
  <p>
    This visualization shows the top five programs, by obligations, within this
    sub-category. Data for all programs is available in table format via the link below.
  </p>
  <p>
    Programs are individual Assistance Listings, as submitted by agencies to SAM.gov.
  </p>
  <p>
    Obligations are self-reported by agencies to SAM.gov. The figures displayed represent the
    total obligations reported by the agency to SAM.gov for the fiscal year.
  </p>

agencies_about_text: |
  <p>
    This visualization shows the top five agencies, by obligations, within this
    sub-category. Data for all agencies is available in table format via the link below.
  </p>
  <p>
    Obligations are self-reported by agencies to SAM.gov. The figures displayed represent the
    total obligations reported by the agency to SAM.gov for the fiscal year.
  </p>

applicant_type_about_text: |
  <p>
    This visualization shows the top five applicant types, by number of programs, within this
    sub-category. Data for all applicant types is available in table format via the link below.
  </p>
  <p>
    Programs are individual Assistance Listings, as submitted by agencies to SAM.gov.
  </p>
---

  <section class="bg-primary-dark">
    <div class="grid-container">
      <div class="grid-row">
        <div class="grid-col-12">
          <p class="margin-top-2 margin-bottom-0"><a class="text-white text-italic" href="{{ page.parent_permalink }}">{{ page.parent_title }}</a></p>
        </div>
        <div class="grid-col-12">
          <h1 class="margin-top-0 margin-bottom-2 text-white">{{ page.title }}</h1>
        </div>
      </div>
    </div>
  </section>
  <main id="main-content" role="main" class="padding-top-4 padding-bottom-4 bg-base-lightest text-base-dark">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="desktop:grid-col-3 bg-white desktop:border-right-1 desktop:border-base-lightest">
          <h3 class="text-base-dark">Sub-categories</h3>
          <nav aria-label="Side navigation">
            <ul class="usa-sidenav">
              
              {% for sc in site.subcategory %}

                {% if sc.parent_permalink == page.parent_permalink %}

                  <li class="usa-sidenav__item">
                    <a href="{{ sc.permalink }}"

                      {% if page.permalink == sc.permalink %}
                    
                      class="usa-current"
                    
                      {% endif %}
                    
                    >{{ sc.title }}</a>
                  </li>

                {% endif %}

              {% endfor %}

            </ul>
          </nav>
        </div>
        <div class="desktop:grid-col-9">
          <div class="grid-row bg-white">
            <div class="tablet:grid-col-6">
              <section class="padding-2 desktop:border-right-2 desktop:border-base-lightest">
                <span class="font-body-3xl text-bold">{{ page.total_num_programs }}</span>
                <p class="margin-top-0">
                  programs
                  <span class="usa-tooltip" data-position="right" title="{{ page.tooltip_programs }}">
                    <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                      <use xlink:href="/assets/img/sprite.svg#info"></use>
                    </svg>
                  </span>
                </p>
              </section>
            </div>
            <div class="tablet:grid-col-6">
              <section class="padding-2 desktop:border-left-1 desktop:border-base-lightest">
                <span class="font-body-3xl text-bold">
                  {% if page.total_obs > 1000000000000 %}
                    ${{ page.total_obs | divided_by: 1000000000000.0 | round: 2 }}T
                  {% elsif page.total_obs > 1000000000 %}
                    ${{ page.total_obs | divided_by: 1000000000.0 | round: 2 }}B
                  {% elsif page.total_obs > 1000000 %}
                    ${{ page.total_obs | divided_by: 1000000.0 | round: 2 }}M
                  {% elsif page.total_obs > 1000 %}
                    ${{ page.total_obs | divided_by: 1000.0 | round: 2 }}k
                  {% endif %}
                </span>
                <p class="margin-top-0">
                  in FY{{ page.fiscal_year }} obligations
                  <span class="usa-tooltip" data-position="right" title="{{ page.tooltip_obligations }}">
                    <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                      <use xlink:href="/assets/img/sprite.svg#info"></use>
                    </svg>
                  </span>
                </p>
              </section>
            </div>
          </div>
          <div class="grid-row">
            <div class="grid-col-12">
              <section class="bg-white margin-top-3 padding-2">
                <h2 class="margin-top-0">Top programs, by FY{{ page.fiscal_year }} obligations</h2>
                <div id="programs-visualization"></div>
                <div class="usa-accordion usa-accordion--bordered">
                  <h4 class="usa-accordion__heading">
                    <button
                      type="button"
                      class="usa-accordion__button"
                      aria-expanded="false"
                      aria-controls="programs-about"
                    >
                      About this visualization & data
                    </button>
                  </h4>
                  <div id="programs-about" class="usa-accordion__content usa-prose">
                    {{ layout.programs_about_text }}
                  </div>
                  <h4 class="usa-accordion__heading">
                    <button
                      type="button"
                      class="usa-accordion__button"
                      aria-expanded="false"
                      aria-controls="programs-data"
                    >
                      View data for all programs
                    </button>
                  </h4>
                  <div id="programs-data" class="usa-accordion__content usa-prose">
                    <div id="programs-table"></div>
                  </div>
                </div>
              </section>
            </div>
            <div class="grid-col-12">
              <section class="bg-white margin-top-3 padding-2">
                <h2 class="margin-top-0">Top agencies, by FY{{ page.fiscal_year }} obligations</h2>
                <div id="agencies-visualization"></div>
                <div class="usa-accordion usa-accordion--bordered">
                  <h4 class="usa-accordion__heading">
                    <button
                      type="button"
                      class="usa-accordion__button"
                      aria-expanded="false"
                      aria-controls="agencies-about"
                    >
                      About this visualization & data
                    </button>
                  </h4>
                  <div id="agencies-about" class="usa-accordion__content usa-prose">
                    {{ layout.agencies_about_text }}
                  </div>
                  <h4 class="usa-accordion__heading">
                    <button
                      type="button"
                      class="usa-accordion__button"
                      aria-expanded="false"
                      aria-controls="agencies-data"
                    >
                      View data for all agencies
                    </button>
                  </h4>
                  <div id="agencies-data" class="usa-accordion__content usa-prose">
                    <div id="agencies-table"></div>
                  </div>
                </div>
              </section>
            </div>
            <div class="grid-col-12">
              <section class="bg-white margin-top-3 padding-2">
                <h2 class="margin-top-0">Top eligible applicant types, by number of programs</h2>
                <div id="applicant-types-visualization"></div>
                <div class="usa-accordion usa-accordion--bordered" data-allow-multiple>
                  <h4 class="usa-accordion__heading">
                    <button
                      type="button"
                      class="usa-accordion__button"
                      aria-expanded="false"
                      aria-controls="applicant-types-about"
                    >
                      About this visualization & data
                    </button>
                  </h4>
                  <div id="applicant-types-about" class="usa-accordion__content usa-prose">
                    {{ layout.applicant_type_about_text }}
                  </div>
                  <h4 class="usa-accordion__heading">
                    <button
                      type="button"
                      class="usa-accordion__button"
                      aria-expanded="false"
                      aria-controls="applicant-types-data"
                    >
                      View data for all eligible applicant types
                    </button>
                  </h4>
                  <div id="applicant-types-data" class="usa-accordion__content usa-prose">
                    <div id="applicant-types-table"></div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>