.DS_Store
.ipynb_checkpoints
.jekyll-metadata
.ruby-gemset
.ruby-version
.env
node_modules
venv
.vscode/
/website/.sass-cache
/website/_site
__pycache__/

# visual regression tests
cypress/cypress-image-diff-screenshots/comparison/
cypress/cypress-image-diff-screenshots/diff/
cypress/reports/

# aln detection script
data_processing/scripts/baseline/
data_processing/scripts/logs/
data_processing/scripts/reports/