<footer class="usa-banner__header bg-ink width-full">
    <div class="footer-omb-logo">
    <img
        src="{{ site.baseurl }}/assets/img/OMBlogo-footer.svg"
        alt="Office of Management and Budget seal">
    </div>
    <div class="usa-identifier__container footer-banner__container">
        <ul class="usa-nav__primary display-flex flex-wrap tablet:display-flex tablet:flex-nowrap footer-links">
            <li class="footer-primary-item">
                <a href="https://www.gsa.gov/website-information/accessibility-statement?footer=gsa" class="usa-nav__link">
                    Accessibility
                </a>
            </li>
            <li class="footer-primary-item">
                <a href="https://www.gsa.gov/website-information/website-policies?_gl=1*1d9e5dy*_ga*NTM5MDIyODY2LjE3NzE4ODQ3NjM.*_ga_HBYXWFP794*czE3NzQ4OTU0MjgkbzIkZzEkdDE3NzQ4OTYwNzAkajYwJGwwJGgw">
                    Privacy Policy
                </a>
            </li>
            <li class="footer-primary-item">
                <a href="https://www.gsa.gov/reference/freedom-of-information-act-foia">
                    Freedom of Information Act
                </a>
            </li>
            <li class="footer-primary-item">
                <a href="https://www.gsa.gov/reference/civil-rights-programs/the-no-fear-act">
                    No FEAR Act
                </a>
            </li>
            <li class="footer-primary-item">
                <a href="https://www.gsaig.gov/">
                    Inspector General
                </a>
            </li>
            <li class="footer-primary-item footer-fpi-link">
                <a href="/">
                    © 2026 Federal Program Inventory
                </a>
            </li>
        </ul>
    </div>
</footer>