<!-- Secondary footer container -->
<footer class="width-full padding-0">
  <!-- Navigation section -->
  <nav class="usa-identifier__section usa-identifier__section--navigation">
    <div class="usa-identifier__container">
      <ul
        class="usa-identifier__nav-list display:block tablet:display-flex flex-column margin-0 padding-0"
        style="list-style: none;">
        <li class="usa-identifier__nav-item margin-bottom-2">
          <a href="#" id="return-to-top" onclick="window.scrollTo(0, 0); return false;" class="text-underline hover:text-underline" style="display: none;">
            Return to top
          </a>
        </li>
        <li class="usa-identifier__nav-item margin-bottom-2">
          <div class="usa-logo display-flex" id="basic-logo">
            <a href="/" title="Federal Program Inventory" class="display-flex" style="align-items: flex-end;">
              <span class="text-bold font-heading-md tablet:font-body-xl">
                FPI
              </span>
              <span class="font-heading-xs footer-link">
                Federal Program Inventory
              </span>
            </a>
          </div>
        </li>
        <li class="usa-identifier__nav-item">
          <a href="/about/fpi" class="usa-identifier__nav-link text-no-underline hover:text-underline text-bold">
            About the FPI
          </a>
        </li>
      </ul>
    </div>
  </nav>
</footer>

{% include footers/_footer_banner.html %}

<script src="{{ site.baseurl }}/assets/js/uswds.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/chart.umd.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/d3.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/plot.min.js"></script>
<script src="/assets/js/gridjs.umd.js"></script>

{% include scripts/_data-source-utils.html %}

<script>
  // Show "Return to top" only when page has been scrolled
  const returnToTopElement = document.getElementById('return-to-top');
  
  window.addEventListener('scroll', function() {
    if (window.scrollY > 0) {
      returnToTopElement.style.display = 'block';
    } else {
      returnToTopElement.style.display = 'none';
    }
  });
</script>

{% if layout.footer_include %}

{% include footers/{{ layout.footer_include }} %}

{% endif %}