<header class="usa-header usa-header--basic" role="banner">
  <div class="usa-nav-container">
    <div class="usa-navbar">
      <div class="usa-logo display-flex" id="basic-logo">
        <a href="/" title="Federal Program Inventory" class="display-flex flex-align-center">
          <img 
            class="usa-identifier__logo-img" 
            src="/assets/img/omb-logo.png" 
            alt="Executive Office of the President, Office of Management and Budget logo" 
            width="49" 
            height="49"
          >
          <span class="text-bold font-heading-md tablet:font-body-lg">
            Federal Program Inventory
          </span>
        </a>
      </div>
      <button type="button" class="usa-menu-btn">Menu</button>
    </div>
    
    <nav role="navigation" class="usa-nav">
      <button type="button" class="usa-nav__close">
        <img src="/assets/img/sprite.svg#close" role="img" alt="Close"/>
      </button>

      <ul class="usa-nav__primary usa-accordion">
        <li class="usa-nav__primary-item">
          <a href="/search" class="usa-nav__link">
            <span>Program search</span>
          </a>
        </li>
        <li class="usa-nav__primary-item">
          <a href="/category" class="usa-nav__link">
            <span>Explore programs by category</span>
          </a>
        </li>
        <li class="usa-nav__primary-item">
          <button
            type="button"
            class="usa-accordion__button usa-nav__link custom-accordion-button"
            aria-expanded="false"
            aria-controls="extended-mega-nav-section-two"
          >
            <span>About the FPI</span>
          </button>
          <div
            id="extended-mega-nav-section-two"
            class="usa-nav__submenu"
          >
            <div class="grid-row horizontal-submenu">
              <div class="usa-col margin-left-2">
                <ul class="usa-nav__submenu-list">
                  <li class="usa-nav__submenu-item">
                    <a href="/about/fpi">About the FPI</a>
                  </li>
                  <li class="usa-nav__submenu-item">
                    <a href="/about/background-on-the-fpi">Background on the FPI</a>
                  </li>
                  <li class="usa-nav__submenu-item">
                    <a href="/about/about-the-data">About the data</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</header>





