<nav id="about-nav">
    <ul class="usa-sidenav">
        <li class="usa-sidenav__item">
            <a href="/about/fpi" class="override-visited">
                About the FPI
            </a>
        </li>

        <ul class="usa-sidenav__sublist">
            <li class="usa-sidenav__item">
                <a href="/about/fpi#overview" class="override-visited">
                    Overview: FPI mission
                </a>
            </li>

            <li class="usa-sidenav__item">
                <a href="/about/fpi#what-programs" class="override-visited">
                    What Federal programs are represented in the current FPI?
                </a>
            </li>

            <li class="usa-sidenav__item">
                <a href="/about/fpi#what-data" class="override-visited">
                    What data is used for the FPI?
                </a>
            </li>

            <li class="usa-sidenav__item">
                <a href="/about/fpi#mandate" class="override-visited">
                    FPI mandate and background
                </a>
            </li>

            <li class="usa-sidenav__item">
                <a href="/about/fpi#timeline" class="override-visited">
                    FPI timeline and evolution
                </a>
            </li>
        </ul>

        <li class="usa-sidenav__item">
            <a href="/about/terms" class="override-visited">
                FPI data, terms & concepts
            </a>
        </li>

        <ul class="usa-sidenav__sublist">
            <li class="usa-sidenav__item">
                <a href="/about/terms#overview" class="override-visited">
                    Overview
                </a>
            </li>

            <li class="usa-sidenav__item">
                <a href="/about/terms#updates" class="override-visited">
                    Data updates
                </a>
            </li>

            <li class="usa-sidenav__item">
                <a href="/about/terms#explanation" class="override-visited">
                    Explanation of terms & concepts
                </a>
            </li>
        </ul>
    </ul>
</nav>