<!-- Clickable Tile Component -->
<a href="{{ include.href }}" class="usa-link text-no-underline display-block{% if include.padding %} {{ include.padding }}{% else %} padding-y-1{% endif %}">
  <div class="border-1px border-base-lighter radius-md hover:border-base-dark hover:bg-base-lightest padding-2">
    <div class="display-flex flex-align-center flex-justify gap-2">
      <div>
        <p class="font-sans-sm {% if include.title_margin %}{{ include.title_margin }}{% else %}margin-bottom-0{% endif %} text-ink text-bold">{{ include.title }}</p>
        <p class="font-sans-xs text-base margin-y-0">Targeted by {{ include.target_count | default: 0 }} other programs</p>
      </div>
      <svg class="usa-icon flex-shrink-0 margin-left-2 text-base" {% if include.icon_style %}style="{{ include.icon_style }}"{% endif %} aria-hidden="true" focusable="false" role="img">
        <use href="/assets/img/sprite.svg#{{ include.icon }}"></use>
      </svg>
    </div>
  </div>
</a>