For the purposes of this website, “Spending” is used as a general
term to represent a specific value across various stages of the
Federal government's fiscal and budget systems. The values used
to calculate the total spending for a given fiscal year will vary
based on the FPI's program type. For Federal assistance listings
and Acquisition programs, spending is represented by the
program's obligation amount. For tax expenditures, spending is
represented by the sum of revenue loss and outlay amount. For
interest on the public debt, spending is represented by the
outlay amount. For more information, please refer to the
<a href="/about/fpi" class="override-visited override-link-color">
    FPI data, terms, & concepts page
</a>.