{% assign has_ip = false %}
{% assign has_mappings = false %}
{% assign first_item_start_date = '' %}
{% assign first_item_end_date = '' %}
{% assign has_related_programs = false %}
{% if include.improper_payments != nil and include.improper_payments.size > 0 %}
    {% assign has_mappings = true %}
{% endif %}

{% for ip_row in include.improper_payments %}
    {% if ip_row.outlays > 0 %}
        {% assign first_item_start_date = ip_row.start_date %}
        {% assign first_item_end_date = ip_row.end_date %}
        {% assign has_ip = true %}
    {% endif %}
{% endfor %}

{% if include.improper_payments_related_programs != nil and include.improper_payments_related_programs.size > 0 %}
    {% assign has_related_programs = true %}
{% endif %}

{% if has_ip == true %}
    {% if include.improper_payments_is_multiple == false %}
        <!-- Scenario 1 & 2a -->
        <p>The last reported improper payment estimate displayed covers the period from {{ first_item_start_date }} to {{ first_item_end_date }}.</p>
    {% else %}
        <!-- Scenario 2b -->
        <p>There are multiple improper payment estimates for this set of related programs.</p>
    {% endif %}
{% else %}
    {% if has_mappings == true %}
        <!-- Scenario 3 & 4 -->
        <p>This program is not at risk of significant improper payments. </p>
    {% else %}
        <!-- Scenario 5 -->
        <p>This is a new program or an existing program being listed for the first time. The link to the corresponding paymentaccuracy.gov data will be available when paymentaccuracy.gov is updated with the next fiscal year results.</p>
    {% endif %}
{% endif %}

{% if has_ip == true %}
    <table class="usa-table">
        <thead>
            <tr>
                <th>Program Name</th>
                <th>Estimate</th>
                <th>Estimate Timeframe</th>
            </tr>
        </thead>
        <tbody>
            {% for ip_row in include.improper_payments %}
                <tr>
                    <td>
                        {% if ip_row.slug != nil and ip_row.slug != '' %}
                            <a href="https://paymentaccuracy.gov/program/{{ ip_row.slug }}" target="_blank">{{ ip_row.name }}</a>
                        {% else %}
                            <a href="https://paymentaccuracy.gov/agency/{{ ip_row.agency }}" target="_blank">{{ ip_row.name }}</a>
                        {% endif %}
                    </td>
                    <td>
                        {% assign ip_rate = 0 %}
                        {% assign ip_amount = 0 %}
                        {% if ip_row.outlays > 0 %}
                            {% assign ip_rate = 100 | times: ip_row.improper_payments | divided_by: ip_row.outlays | round: 1 %}
                        {% endif %}
                        {% if ip_row.improper_payments != nil %}
                            {% assign ip_amount = ip_row.improper_payments %}
                        {% endif %}
                        {{ ip_rate }}% (<span data-dollar-amount="{{ ip_amount }}"></span>)
                    </td>
                    <td>
                        {% if ip_row.start_date != nil and ip_row.start_date != '' and ip_row.end_date != nil and ip_row.end_date != '' %}
                            {{ ip_row.start_date }} to {{ ip_row.end_date }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% elsif has_mappings == true %}
    <ul>
        {% for ip_row in include.improper_payments %}
            {% if ip_row.slug != nil and ip_row.slug != '' %}
                <li><a href="https://paymentaccuracy.gov/program/{{ ip_row.slug }}" target="_blank">{{ ip_row.name }}</a></li>
            {% else %}
                <li><a href="https://paymentaccuracy.gov/agency/{{ ip_row.agency }}" target="_blank">{{ ip_row.name }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}

{% if has_related_programs == true %}
    <!-- Scenario 2a & 4 -->
    <p>The last reported improper payment estimate displayed is associated with multiple programs.</p>
    <ul>
        {% for related_program in include.improper_payments_related_programs %}
            <li><a href="{{ related_program.permalink }}">{{ related_program.name }}</a></li>
        {% endfor %}
    </ul>
{% endif %}

<p>Improper payments are payments that were not made in the correct amount (i.e., overpayments or underpayments), not made to the correct recipient, or not made with strict adherence to agency policies and procedures. Improper payments are not a measure of fraud.</p>
<p>Agencies may report improper payment information for program activities that differ from the programs listed on the FPI. OMB is working with agencies to align this reporting. The table below shows all Improper Payment Program Activities associated with this Program, as well as other programs related to each Improper Payment Program Activity.</p>
<p>View more information at <a href="https://paymentaccuracy.gov" target="_blank">PaymentAccuracy.gov</a></p>