{% assign last_completed_fiscal_year = include.last_completed_fiscal_year | default: site.data.constants_global_dates.LAST_COMPLETED_FISCAL_YEAR %}
{% assign paymentaccuracy_fy_date = site.data.constants_global_dates.PAYMENTACCURACY_FY_DATE %}

{% assign headline_amount = page.headline_amount | default: 0 %}

{% assign has_nonzero_ip_outlays = false %}
{% for ip_row in page.improper_payments %}
  {% if ip_row.outlays != 0 and ip_row.outlays != 0.0 and ip_row.outlays != nil %}
    {% assign has_nonzero_ip_outlays = true %}
  {% endif %}
{% endfor %}

{% if page.improper_payments == nil or page.improper_payments.size == 0 or has_nonzero_ip_outlays == false %}
<!-- Gray background improper payment box with NA values -->
<div id="improper-payment-card-container">
  <div class="improper-payment-card">
    <div class="improper-payment-card-container" style="align-items: flex-start;">
      <div class="payment-info">
          <div class="font-heading-md ip-outlay-text">
            <span class="ip-outlay-dot">•</span>
            <span>FY {{ last_completed_fiscal_year }}</span>
          </div>
          <div class="font-heading-xl ip-fy-outlay-amount">
            <span id="last-completed-year-outlay" class="program-obligations-tooltip" tabindex="0" data-dollar-amount="{{ headline_amount }}"></span>
          </div>
      </div>
      <div class="payment-rate-box ip-rate-na">
        <div class="usa-label">Improper Payment Estimate</div>
        <div class="usa-label font-heading-2xs ip-last-reported-subheader">Last Reported</div>
        <div class="font-heading-md">
          <span class="usa-tag ip-box-na">
            <span id="improper-payments-percent">Rate: N/A</span>  |  
            <span> Amount: </span><span id="improper-payments-total">
              N/A
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

{% elsif page.improper_payments_total == 0 or page.improper_payments_total == nil %}
<div id="improper-payment-card-container">
  <div class="improper-payment-card">
    <div class="improper-payment-card-container" style="align-items: flex-start;">
      <div class="payment-info">
          <div class="font-heading-md ip-outlay-text">
            <span class="ip-outlay-dot">•</span>
            <span>FY {{ last_completed_fiscal_year }}</span>
          </div>
          <div class="font-heading-xl ip-fy-outlay-amount">
            <span id="last-completed-year-outlay" class="program-obligations-tooltip" tabindex="0" data-dollar-amount="{{ headline_amount }}"></span>
          </div>
      </div>
      <div class="payment-rate-box ip-rate-na">
        <div class="usa-label">Improper Payment Estimate</div>
        <div class="usa-label font-heading-2xs ip-last-reported-subheader">Last Reported</div>
        <div class="font-heading-md">
          {% if page.improper_payments_is_multiple %}
          <span class="usa-tag ip-box">
            <span id="improper-payments-percent">Rate: Multiple</span>  |  
            <span> Amount: </span><span id="improper-payments-total">
              Multiple
            </span>
          </span>
          {% else %}
          <span class="usa-tag ip-box">
            <span id="improper-payments-percent">Rate: {{ page.improper_payments_percent | default: 0 | round: 0}}</span>%  |  
            <span> Amount: </span><span id="improper-payments-total" data-dollar-amount="{{ page.improper_payments_total | default: 0 }}">
              {{ page.improper_payments_total | default: 0 | prepend: '$' | replace: '$0', '$0.00' }}
            </span>
          </span>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% else %}
<div id="improper-payment-card-container">
  <div class="improper-payment-card">
    <div class="improper-payment-card-container" style="align-items: flex-start;">

      <!-- Left Side: Fiscal Year and Expenditure -->
      <div class="payment-info">
          <div class="font-heading-md ip-outlay-text">
            <span class="ip-outlay-dot">•</span>
            <span>FY {{ last_completed_fiscal_year }}</span>
          </div>
          <div class="font-heading-xl ip-fy-outlay-amount">
            <span id="last-completed-year-outlay" class="program-obligations-tooltip" tabindex="0" data-dollar-amount="{{ headline_amount }}"></span>
          </div>
      </div>

      <!-- Right Side: Improper Payment Amount Box -->
      <div class="payment-rate-box">
        <div class="usa-label">Improper Payment Estimate</div>
        <div class="usa-label font-heading-2xs ip-last-reported-subheader">Last Reported</div>
        <div class="font-heading-md">
          {% if page.improper_payments_is_multiple %}
          <span class="usa-tag ip-box">
            <span id="improper-payments-percent">Rate: Multiple</span>  |  
            <span> Amount: </span><span id="improper-payments-total">
              Multiple
            </span>
          </span>
          {% else %}
          <span class="usa-tag ip-box">
            <span id="improper-payments-percent">Rate: {{ page.improper_payments_percent | default: 0 | round: 0}}</span>%  |  
            <span> Amount: </span><span id="improper-payments-total" data-dollar-amount="{{ page.improper_payments_total | default: 0 }}">
              {{ page.improper_payments_total | default: 0 | prepend: '$' | replace: '$0', '$0.00' }}
            </span>
          </span>
          {% endif %}
        </div>
      </div>

    </div>
  </div>
</div>
{% endif %}