<div class="info-card-bg padding-3 width-full margin-bottom-2 {% if include.grid %} {{ include.grid }}{% endif %} {% if include.margin %} {{ include.margin }}{% endif %}">
  <div class="info-card-header">
    <p class="text-ink margin-bottom-2 margin-top-1 info-card-title">
      {{ include.title }}
    </p>
  </div>
  <div class="text-bold text-ink margin-bottom-1">
    {{ include.display_number }}
  </div>
  {% if include.text %}
  <div class="text-base-dark"> {{ include.text }} </div>
  {% endif %}
  {% if include.increase_decrease %}
  <div class="text-base-dark">
    {{ include.increase_decrease }}{{ include.percentage }} from {{ include.date
    }}
  </div>
  {% endif %}
</div>
