<!-- Program Page Title -->
<header class="margin-bottom-3">
  <h1 class="text-normal text-primary margin-top-0 margin-bottom-1 site-title-font">
    {{ include.title | default: page.title }}
  </h1>
  {% assign popular_name = include.popular_name | default: page.popular_name %}
  {% if include.display_aka and popular_name != '' and popular_name != nil %}
  <p class="site-subheader-font text-secondary margin-top-0 margin-bottom-1">
    Known as {{ popular_name }}
  </p>
  {% endif %}
  <p class="margin-top-0 text-base margin-bottom-1">
    <svg class="usa-icon text-base" aria-hidden="true" focusable="false" role="img">
      <use href="/assets/img/sprite.svg#schedule"></use>
    </svg>
    As of {{ include.updated_date | default: site.data.constants_global_dates.SITE_UPDATE_DATE }}
  </p>
</header>