<div class="grid-row">
    <div class="grid-col-3" id="spending-chart-card">
        <div class="spending-card-header">Spend Projections</div>
        <div id="legend">
            <div class="spending-card-item">
                {% assign initial_year = site.data.constants_global_dates.CURRENT_FISCAL_YEAR | to_integer | minus: site.data.constants_global_dates.SPENDING_CHART_YEAR_RANGE %}
                <span class="spending-card-subheader">Since FY {{ initial_year }}</span>
            </div>
            {% if include.program_type != 'tax_expenditure' and include.program_type != 'interest' %}
                <div class="spending-card-item">
                    <span class="spending-card-line obligations"></span>
                    <span class="spending-card-label">Obligations</span>
                </div>
            {% endif %}
            <div class="spending-card-item">
                <span class="spending-card-line outlays"></span>
                <span class="spending-card-label">Outlays</span>
            </div>
            <div class="spending-card-item">
                <span class="spending-card-line cy-outlays"></span>
                <span class="spending-card-label">Current Year Outlays</span>
            </div>
            <div class="spending-card-item" id="revenue-loss-legend-entry">
                <span class="spending-card-line rev-losses"></span>
                <span class="spending-card-label">Revenue Losses</span>
            </div>
            <div class="spending-card-item" id="revenue-loss-legend-entry-cy">
                <span class="spending-card-line cy-rev-losses"></span>
                <span class="spending-card-label">Current Year Revenue Losses</span>
            </div>
            <div class="spending-card-item has-toggle" id="projection-legend-entry-heading">
                <span class="spending-card-subheader">Since FY {{ site.data.constants_global_dates.BASELINE_INFLATION_YEAR }}</span>
                <label class="switch" id="projection-toggle">
                    <input id="projection-toggle-checkbox" type="checkbox" class="spending-chart-toggle" data-series="Identified" checked aria-label="Toggle inflation and population growth">
                    <span class="slider round"></span>
                </label>
            </div>
            <div class="spending-card-item" id="projection-legend-entry">
                <span class="spending-card-dots"></span>
                <span class="spending-card-label">Inflation + Population Growth</span>
            </div>
        </div>
    </div>
    <div class="grid-col-fill">
        <div
            id="spending-chart"
            data-inflation='{{ site.data.global_data.InflationPopulation | jsonify }}'
            data-outlays='{{ include.outlays }}'
            data-current-year="{{ site.data.constants_global_dates.CURRENT_FISCAL_YEAR }}"
            data-baseline-inflation-year="{{ site.data.constants_global_dates.BASELINE_INFLATION_YEAR }}"
            data-initial-year='{{ initial_year }}'
            data-program-type='{{ include.program_type }}'>
        </div>
        <p id="no-spending-chart" class="hide">Obligation and outlay information not yet available.</p>
    </div>
</div>