<!-- Sub-category Tags Component -->
<div class="display-flex flex-wrap margin-bottom-2">
  {% for combined_category_subcategory in include.categories %}
    {% assign parsed_category = combined_category_subcategory | parse_category %}
    {% assign category = parsed_category.main %}
    {% assign sub_category = parsed_category.sub %}
    {% if category and category != "" %}
      <span
        class="subcategory-tag display-inline-flex flex-align-center padding-x-2 padding-y-05 radius-pill text-bold bg-base-lightest text-base-dark margin-right-1 margin-bottom-1 program-filter"
        data-category-title="{{ category }}"
        data-filter-type="category"
      >
        {{ category }}
      </span>
    {% endif %}
    {% if sub_category and sub_category != "" %}
      <span
        class="subcategory-tag display-inline-flex flex-align-center padding-x-2 padding-y-05 radius-pill text-bold bg-base-lightest text-base-dark margin-right-1 margin-bottom-1 program-filter"
        data-category-title="{{ category }}"
        data-subcategory-title="{{ sub_category }}"
        data-filter-type="sub-category"
      >
        {{ sub_category }}
      </span>
    {% endif %}
  {% endfor %}
</div>