<section class="width-full overflow-hidden">
  <div class="grid-container padding-bottom-1 padding-top-5">
    <div class="grid-row">
      <div class="grid-col-10">
        <div class="width-full height-full display-inline-flex flex-column justify-content-center align-items-start gap-2">
          <div class="about-fed-program line-height-sans-2 text-black">About the Federal Program Inventory</div>

          <p class="text-black font-heading-md text-normal line-height-sans-3 word-wrap">
            In 2024, building upon the successful 2020 exploratory pilot effort and recommendations published in the
            2021 Report to Congress, OMB launched the Federal Program Inventory, which focused on Federal financial
            assistance. In 2025, OMB expanded the Federal Program Inventory to include Tax Expenditures and Interest
            on the Public Debt.
          </p>

          <p class="text-black font-heading-sm text-bold line-height-sans-3">
              <a href="/about/fpi" class="text-black text-no-underline">
                  Learn more >
              </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
