<section class="width-full bg-secondary-lighter">
  <div class="grid-container padding-bottom-1 padding-top-5">
    <div class="grid-row">
      <div class="grid-col-4">
        <!-- Wrapper for bars that can extend right -->
        <div class="position-relative" style="overflow: visible; height: 180px">
          <!-- First bar -->
          <div
            class="height-3 bg-primary margin-bottom-1"
            style="position: absolute; right: 0; margin-right: 5%; width: 100vw"
          ></div>
          <!-- Second bar -->
          <div
            class="height-3 bg-accent-warm margin-bottom-1"
            style="
              position: absolute;
              right: 0;
              margin-right: 29%;
              width: 100vw;
              top: 30px;
            "
          ></div>
          <!-- Third bar -->
          <div
            class="height-3 bg-warning margin-bottom-1"
            style="
              position: absolute;
              right: 0;
              margin-right: 7%;
              width: 100vw;
              top: 60px;
            "
          ></div>
          <!-- Fourth bar -->
          <div
            class="height-3 bg-secondary-dark margin-bottom-1"
            style="
              position: absolute;
              right: 0;
              margin-right: 15%;
              width: 100vw;
              top: 90px;
            "
          ></div>
          <!-- Fifth bar -->
          <div
            class="height-3 bg-info-dark margin-bottom-1"
            style="
              position: absolute;
              right: 0;
              margin-right: 27%;
              width: 100vw;
              top: 120px;
            "
          ></div>
          <!-- Sixth bar -->
          <div
            class="height-3 bg-primary-darker margin-bottom-1"
            style="
              position: absolute;
              right: 0;
              margin-right: 39%;
              width: 100vw;
              top: 150px;
            "
          ></div>
          <!-- Seventh bar -->
          <div
            class="height-3 bg-error margin-bottom-1"
            style="
              position: absolute;
              right: 0;
              margin-right: 5%;
              width: 100vw;
              top: 180px;
            "
          ></div>
          <!-- Eighth bar -->
          <div
            class="height-3 bg-info-lighter margin-bottom-1"
            style="
              position: absolute;
              right: 0;
              margin-right: 20%;
              width: 100vw;
              top: 210px;
            "
          ></div>
          <!-- Ninth bar -->
          <div
            class="height-3 bg-gold margin-bottom-1"
            style="
              position: absolute;
              right: 0;
              margin-right: 15%;
              width: 100vw;
              top: 240px;
            "
          ></div>
        </div>
      </div>
      <div class="grid-col-8">
        <div class="width-full height-full display-inline-flex flex-column justify-content-center align-items-start gap-2">
          <div class="font-sans-lg line-height-sans-2 text-black">About the data</div>

          <p class="text-black font-sans-md text-normal line-height-sans-3 word-wrap">
            This chart shows total program obligations by category, for the top
            categories. Data for all categories is available in table format
            below. All data for this chart and table were provided by the
            administering agency and sourced from SAM.gov
            <br/>
            <br/>
            When creating Assistance Listings for each of their programs,
            agencies are offered the opportunity to select one or many
            "functions" and "sub-functions" that best align with the program
            from a pre-defined list. The categories and sub-categories shown on
            this website are the "functions" and "sub-functions" self-selected
            by agencies. They can be found in the Functional Index of the 
            <a href="https://sam.gov/assistance-listings" target="_blank" rel="noopener noreferrer" class="usa-link--external">
              Annual Publication of Assistance Listings
            </a> on Sam.gov.
          </p>

          <a href="/about/about-the-data" class="usa-link">
            Learn more on the FAQ page
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
