<footer>
  <div class="usa-identifier">
    <section
      class="usa-identifier__section usa-identifier__section--masthead"
      aria-label="Agency identifier,"
    >
      <div class="usa-identifier__container">
        <div class="usa-identifier__logos">
          <a href="" class="usa-identifier__logo"
            ><img
              class="usa-identifier__logo-img"
              src="/assets/img/omb-logo.png"
              alt="Executive Office of the President, Office of Management and Budget logo"
              role="img"
          /></a>
        </div>
        <section
          class="usa-identifier__identity"
        >
          <p class="usa-identifier__identity-domain">fpi.omb.gov</p>
          <p class="usa-identifier__identity-disclaimer">
            An official website of the <a href="https://www.whitehouse.gov/omb/">Executive Office of the President, Office of Management and Budget</a>
          </p>
        </section>
      </div>
    </section>
    <section
      class="usa-identifier__section usa-identifier__section--usagov"
      aria-label="U.S. government information and services,"
    >
      <div class="usa-identifier__container">
        <div class="usa-identifier__usagov-description">
          Looking for U.S. government information and services?
        </div>
        <a href="https://www.usa.gov/" class="usa-link">Visit USA.gov</a>
      </div>
    </section>
  </div>
</footer>
<script src="{{ site.baseurl }}/assets/js/uswds.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/chart.umd.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/d3.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/plot.min.js"></script>
<script src="/assets/js/gridjs.umd.js"></script>

{% if layout.footer_include %}

  {% include {{ layout.footer_include }} %}

{% endif %}

<script>
  const searchForm = document.getElementById("search");
  const searchField = document.getElementById("search-field");
  searchForm.addEventListener("submit", function(event){
    event.preventDefault();
    if(searchField.value.match(/^\d{2}.\d{3}$/)) {
      window.location.href = '/program/'+searchField.value;
    }
  });
</script>