<script>
  const ctx = document.getElementById('spending-visualization');
  const data = {{ page.obligations }};
  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ['2022', '2023', '2024'],
      datasets: [{
        label: 'SAM.gov (Actual)',
        data: data,
        parsing: {
          yAxisKey: 'sam_actual'
        },
        stack: 'SAM.gov',
        backgroundColor: '#1f78b4'
      }, {
        label: 'SAM.gov (Estimate)',
        data: data,
        parsing: {
          yAxisKey: 'sam_estimate'
        },
        stack: 'SAM.gov',
        backgroundColor: '#adadad'
      }, {
        label: 'USASpending.gov',
        data: data,
        parsing: {
          yAxisKey: 'usa_spending_actual'
        },
        stack: 'USASpending.gov',
        backgroundColor: '#b2df8a'
      }]
    },
    optionss: {
      scales: {
        x: {
          stacked: true,
        },
        y: {
          stacked: true
        }
      }
    }
  });
</script>